[2019-08-14 15:23] azakharow opened #1 "Assets are not created in current folder if output param is not provided"
Readme tells that "The assets will be saved to the folder where the command is executed if no output-folder provided". To check this point, I'm executing the example from Readme without output folder provided like that:
`pwa-asset-generator https://cdn.freebiesupply.com/logos/large/2x/amazon-icon-logo-png-transparent.png -p "20%" -b "linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%)"`

It gives me

[2019-08-14 16:05] onderceylan commented on #1
Hey @azakharow, I noticed the same issue myself. I’m going to fix it, thanks for raising!

[2019-08-14 21:48] #1 closed

[2019-08-14 21:57] onderceylan commented on #1
:tada: This issue has been resolved in version 1.0.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/untagged-77041e762f5ae7cb3106)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-15 09:02] onderceylan opened #2 "Add --type and --quality flags"
Currently app only generates images in png format. Adding --type flag will make it possible to generate jpg output with compression options provided by --quality flag. This is important for reducing sizes of large launch images with rich background.

[2019-08-15 09:03] onderceylan opened #3 "Add --splash and --icon flags"
Adding optional --splash and --icon flags will make it possible to only generate images for a specific set. This will make it possible to generate splash screen images and icons with different options per each set.

[2019-08-15 09:07] onderceylan opened #4 "Add --portrait and --landscape flags"
Currently app generates splash screens on both portrait and landscape format. Some PWAs are constrained to be launched in one of portrait or landscape. So, adding this options will make it possible to only generate splash screen images for a specific orientation.

[2019-08-15 09:15] onderceylan opened #5 "Expose private API and add typings.d.ts"
Currently it's not possible to use underlying API of the library other than using it via executable binary. Exposing private API that binary uses, will make it possible for users to use it in their node projects.

Exporting typings.d.ts will introduce a living documentation for the API.

[2019-08-15 09:19] onderceylan opened #6 "Migrate code to TypeScript"
Migrating code to TypeScript will make the contribution easier for the project.

It will also enable us to deliver a compiled code which will help project to be used with earlier versions of node. Due to ES2015 features used in the code, node engine is restricted for versions <8.3.0

[2019-08-15 09:24] onderceylan opened #7 "Create a gif showing the cli usage and output"
* Creating a gif that shows apps usage and output
* Putting it as a static resource on repository
* Embedding it to documentation

will attract more users and it will help on libraries promotion.

[2019-08-15 16:11] onderceylan opened #8 "Add a pre-release script to update static fallback data"
Before every release, we need to generate and update the fallback data. This will introduce an automated approach and help on reducing maintenance effort.

[2019-08-15 19:32] onderceylan opened #9 "Create output folder if it doesn't exist"
Currently app throws an error when output directory does not exist or it's not writable. If doesn't exist, app should create the folder on behalf of the user.

[2019-08-15 22:14] #2 closed

[2019-08-15 22:14] #3 closed

[2019-08-15 22:14] #4 closed

[2019-08-15 22:14] #7 closed

[2019-08-15 22:14] #9 closed

[2019-08-15 22:25] onderceylan commented on #7
:tada: This issue has been resolved in version 1.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/untagged-62676b63def7831a2bbb)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-15 22:25] onderceylan commented on #9
:tada: This issue has been resolved in version 1.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/untagged-62676b63def7831a2bbb)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-15 22:25] onderceylan commented on #4
:tada: This issue has been resolved in version 1.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/untagged-62676b63def7831a2bbb)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-15 22:25] onderceylan commented on #3
:tada: This issue has been resolved in version 1.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/untagged-62676b63def7831a2bbb)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-15 22:25] onderceylan commented on #2
:tada: This issue has been resolved in version 1.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/untagged-62676b63def7831a2bbb)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-18 09:15] ofcyln opened #11 "Change cli help text to reflect docs"
Cli help text doesn't align with readme contents.

[2019-08-18 09:32] #11 closed

[2019-08-18 09:38] ofcyln opened #13 "Add test suite for url.js helper"

[2019-08-18 09:38] onderceylan commented on #11
:tada: This issue has been resolved in version 1.1.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/untagged-30b980aeb82c579cb384)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-18 09:40] ofcyln opened #14 "Add test suite for images.js helper"

[2019-08-18 09:41] ofcyln opened #15 "Add test suite for logger.js helper"

[2019-08-18 09:41] ofcyln opened #16 "Add test suite for pwa.js helper"

[2019-08-18 09:42] ofcyln opened #17 "Add test suite for file.js helper"

[2019-08-19 03:15] ecjs opened #18 "Splash Screen not showing in landscape on iOS 12.4"
First of all: **awesome package.** Such a good idea!

In order for me to get splash screens to work on (2) separate iOS devices (iPhone XS Max + iPad mini) both running iOS 12.4, I had to add ` and (orientation: landscape)` as well as maintaining the `device-width` and `device-height` dimensions as its portrait counterpart.

For instance, this got landscape working on my iPhone XS Max:

[code]

Th

[2019-08-19 05:35] onderceylan commented on #18
Hey @ecjs, thanks a lot for your feedback and detailed issue explanation! I totally missed out orientation in the query, I’m going to fix it and publish a release asap.

[2019-08-19 05:39] ecjs commented on #18
No problem! While you are at it, you may want to add iPad Pro (12.9")!

[code]

[2019-08-19 05:42] onderceylan commented on #18
Sure, I will look into it! Thanks

[2019-08-19 11:41] #18 closed

[2019-08-19 11:48] onderceylan commented on #18
:tada: This issue has been resolved in version 1.1.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/untagged-cb84da9acbdf89208cfe)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-19 11:48] onderceylan commented on #11
:tada: This issue has been resolved in version 1.1.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/untagged-cb84da9acbdf89208cfe)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-20 08:45] onderceylan opened #20 "Calculate relative path when output is not provided"
When output is not provided, file paths are being but as full system paths. It should be changed in a way that it's relative to the execution folder.

[2019-08-20 08:47] onderceylan opened #21 "Calculate relative path distance when meta tags saved to index.html"
When index.html is provided to save the meta tags with image paths, relative folder distance of output folder from index.html should be respected.

[2019-08-20 08:49] onderceylan opened #22 "Add issue templates"

[2019-08-20 08:49] onderceylan opened #23 "Add contribution guidelines"

[2019-08-22 12:51] #20 closed

[2019-08-22 12:51] #21 closed

[2019-08-22 13:01] onderceylan commented on #21
:tada: This issue has been resolved in version 1.1.5 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/untagged-4135d1bae5ea42aceb44)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-22 13:01] onderceylan commented on #20
:tada: This issue has been resolved in version 1.1.5 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/untagged-4135d1bae5ea42aceb44)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-29 01:16] guidupuy opened #26 "Doesn't write to index.html when using -c option"
Should be pretty self explanatory... unless I'm missing something?

Great stuff by the way. Incredibly helpful.

[2019-08-29 08:58] onderceylan commented on #26
Hey @guidupuy, thanks a lot for your feedback! I think you expect apple icon tags to appear on index.html file, right?

[2019-08-29 13:42] guidupuy commented on #26
Right!

[2019-08-29 13:47] onderceylan commented on #26
Ok, it's clear as a bug. I will fix it asap. Thanks for raising the issue!

[2019-08-29 13:59] onderceylan opened #28 "Browser timeout exceeds in some cases"
We need to increase the browser timeout to 60000 millis to prevent cli exiting with a timeout error.

[2019-08-29 14:03] onderceylan opened #29 "Revisit the project labels"
Revisit the project labels after working on issue templates and contribution guidelines.

[2019-08-29 14:06] onderceylan opened #30 "Prevent reformatting index.html"
When index.html is provided as an output, cheerio reformats the code style on the file while adding the html tags. It also creates empty new lines when modification happens on already processed index.html file.

[2019-08-29 14:25] guidupuy opened #31 "Add option to provide path prefix to generated href links"
Would be nice to be able to prepend a path to the href links generated in index.html.

In my case, I'm using `pwa-asset-generator` in the context of a `create-react-app` application and my links need to look like this: `<link rel="apple-touch-icon" sizes="180x180" href="%PUBLIC_URL%/apple-icon-180.png">`

[2019-08-29 18:23] onderceylan commented on #29
Added new labels such as `needs verification`, `feature request`

[2019-08-29 18:23] #29 closed

[2019-08-29 18:24] onderceylan commented on #31
Sounds like a handy feature, adding to a milestone.

[2019-08-29 18:25] #13 closed

[2019-08-29 19:49] #22 closed

[2019-08-29 20:14] #23 closed

[2019-08-29 21:27] #26 closed

[2019-08-29 21:27] #28 closed

[2019-08-29 21:36] onderceylan commented on #22
:tada: This issue has been resolved in version 1.1.6 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/untagged-d1eb88ab2657c0ed2598)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-29 21:36] onderceylan commented on #23
:tada: This issue has been resolved in version 1.1.6 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/untagged-d1eb88ab2657c0ed2598)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-29 21:36] onderceylan commented on #26
:tada: This issue has been resolved in version 1.1.6 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/untagged-d1eb88ab2657c0ed2598)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-29 21:36] onderceylan commented on #28
:tada: This issue has been resolved in version 1.1.6 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/untagged-d1eb88ab2657c0ed2598)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-30 08:38] onderceylan opened #35 "Extend cli test suite with file saving scenarios"
When any of index.html or manifest.json file is provided to a cli, meta information is saved on them. Current functionality of that is not tested in any scenarios. We need to extend cli.test.js file by adding those test to cover existing functionality.

[2019-08-30 10:34] leonelngande opened #36 "Incorrect file paths generated on Windows"
**Describe the bug**
On Windows, the asset paths generated have double back-slashes (sometimes three) at the first directory level. This causes cli.test.js to fail, also user has to manually correct the asset paths generated.

**To Reproduce**
Steps to reproduce the behavior:
1. Execute cli command `git clone https://github.com/onderceylan/pwa-asset-generator.git`
2. `cd` to project root and execu

[2019-08-30 11:02] onderceylan commented on #36
Thanks for the issue @leonelngande! We need to fix the path issues on Windows asap.

[2019-08-30 11:11] leonelngande commented on #36
Okay! Should I look into it? Have had a look at `helpers/file.js` and looks like that's where the paths are generated.

[2019-08-30 11:28] onderceylan commented on #36
Please, I'd appreciate that as I have to spin off a VM to inspect. Feel free to work on it.

[2019-08-30 11:31] leonelngande commented on #36
Great! On it thanks.

[2019-08-30 21:03] #36 closed

[2019-08-30 21:11] onderceylan commented on #36
:tada: This issue has been resolved in version 1.1.7 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/untagged-a78794c1f6d18f71ea7f)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-09-02 11:05] onderceylan opened #38 "Add maskable icons for Android"
**Is your feature request related to a problem? Please describe.**
As W3C specs on manifest file has been extended with the new purpose field and maskable icons, it's a good idea to add maskable icons feature to pwa-asset-generator.

**Describe the solution you'd like**
We need to add a new flag --maskable which will be respected when icons are generated. When flag is provided, the manifest file m

[2019-09-07 07:44] onderceylan opened #40 "Add GitHub actions workflow"

[2019-09-15 17:51] #16 closed

[2019-09-15 17:52] #14 closed

[2019-09-15 17:52] #17 closed

[2019-09-15 17:52] #15 closed

[2019-09-22 13:55] #40 closed

[2019-09-22 13:57] onderceylan opened #43 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-09-22 14:07] onderceylan commented on #43
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-09-22 16:03] onderceylan commented on #43
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-09-22 17:18] onderceylan commented on #43
fixed

[2019-09-22 17:18] #43 closed

[2019-09-25 05:05] #6 closed

[2019-09-25 05:08] onderceylan commented on #6
:tada: This issue has been resolved in version 1.3.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/untagged-989fa0cb0e77b8f2e414)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-09-25 05:08] onderceylan commented on #40
:tada: This issue has been resolved in version 1.3.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/untagged-989fa0cb0e77b8f2e414)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-09-26 12:59] dscheffy opened #45 "Release 1.3.0 breaks relative source file locations"
**Describe the bug**
After upgrading to 1.3.0, "npx pwa-asset-generator logo.svg" stopped working. The output files all had the typical "missing image" that you've scene in browsers before. I haven't fully diagnosed the problem, but it still works with absolute urls and with absolute paths for local files, just not relative ones.

**To Reproduce**
Steps to reproduce the behavior:
1. create a new d

[2019-09-26 13:06] onderceylan commented on #45
Hi @dscheffy, thanks a lot for raising this issue. I was able to reproduce the same issue, I will release a fix asap.

[2019-09-26 13:31] #45 closed

[2019-09-26 13:32] onderceylan commented on #45
Just fixed the issue @dscheffy, I'll add more tests to cover issues like this in future, including visual diff on generated files. CD pipeline will publish 1.3.1 in minutes.

[2019-09-26 13:33] onderceylan commented on #45
:tada: This issue has been resolved in version 1.3.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/untagged-a46047e8ae5237edd4be)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-06 18:12] fransyozef opened #47 "Generate favicon"
Please make an option to generate a favicon

[2019-10-07 03:07] lucasvazq opened #48 "Question: landscape"
Hi!
What about the next screenshot? :

![Screenshot_20191007-000043_Chrome](https://user-images.githubusercontent.com/38964964/66282416-afe06280-e895-11e9-8a18-18c6e3ad16c2.jpg)

Does the generator currently cover all cases or any is missing?

[2019-10-07 04:34] onderceylan commented on #48
Hi @lucasvazq, I believe this is a misunderstanding. The comment should be a response to the original post to AppScope post here, feedback for their online generator: https://medium.com/appscope/adding-custom-ios-splash-screens-to-your-progressive-web-app-41a9b18bdca3 which doesn't support landscape. PWA asset generator supports landscape. You can test it on an iOS simulator yourself 😉

[2019-10-07 04:34] #48 closed

[2019-10-07 04:36] onderceylan commented on #47
Hi @fransyozef, thanks for the issue. I will look into it to add some details and then I will put it on the roadmap!

[2019-10-07 16:31] lucasvazq commented on #48
Thanks! It help me a lot bc I dont have apple software

[2019-10-09 09:33] onderceylan opened #49 "Add single-quotes option for generated meta and link tags"
Low code platforms like Outsystems doesn't allow adding double quoted html in the system. Adding an optional single-quotes option will make things easier for platforms with such limitation and for people with single quote taste.

[2019-10-15 08:54] onderceylan opened #50 "Use chrome-launcher to skip chromium download"
This feature is for adding support for PUPPETEER_SKIP_CHROMIUM_DOWNLOAD env var, which skips downloading chromium installation on install. When this env var is provided, library should use https://www.npmjs.com/package/chrome-launcher to locate chrome on the system.

[2019-10-16 09:03] onderceylan opened #51 "Add dark mode support for iOS"
I just found out that we can actually use dark mode media attributes `(prefers-color-scheme: dark)` to differentiate splash screens on iOS 13, based on user preference. The same media attribute doesn't have any affect on icons, even though it's the same web element and same media attr.

**Light mode (default)**:
`<link rel="apple-touch-startup-image" href="light/apple-splash-2048-2732.jpeg" media=

[2019-10-19 18:19] onderceylan opened #52 "Avoid shell html creation in module folder"
Currently, the library saves a shell html file on the fly to the libraries /static folder each time you execute an image generation. Although it's not a problem for most users, this design causes some issues where there are ownership problems with the installed module on users OS.

We can get over this issue by using following page navigation via puppeteer;
`await page.goto(`data:text/html,${html}

[2019-10-19 21:29] guidupuy opened #53 "npm detects vulnerability"
**Describe the bug**
When running `npm audit`, a high severity vulnerability is detected

**To Reproduce**
Steps to reproduce the behavior:
1. Execute cli command `npm audit`

**Expected behavior**
No vulnerability gets flagged

**System (please complete the following information):**
 - macOS Catalina
 - node version v10.16.0
 - npm version 6.9.0
 - cli version 1.1.6

**Screenshots**
![Screen Shot

[2019-10-19 21:52] onderceylan commented on #53
Hi @guidupuy, thanks for the report. I just created an issue on puppeteer repo. I will upgrade the package as soon as there's an update over https://github.com/GoogleChrome/puppeteer/issues/5055

[2019-10-21 06:55] onderceylan commented on #53
Looks like the change is done on puppeteer, awaiting the release. It can be watched over here: https://github.com/GoogleChrome/puppeteer/pull/5016. As soon as it's released, I'll bump puppeteer version and publish a new version for pwa-asset-generator.

[2019-10-21 13:41] onderceylan commented on #50
I decided to avoid puppeteer env vars all together, by switching over puppeteer-core from puppeteer dependency. By doing this, the lib will change -install chromium first- approach by doing;

- Check system for any sort of Chromium instance via chrome-launcher
- If system Chromium is not found, only then download recommended Chromium revision of puppeteer-core package once

[2019-10-24 03:10] x4080 opened #54 "Question : How to make image smaller relative to the background ?"
If I use margin 30%, some of the generated splashscreen is empty

Thanks

[2019-10-24 07:18] onderceylan commented on #54
Hi @x4080, the default value for the padding surrounding the image is 10%. But it's just a css padding value that you can configure and override yourself with **-p --padding** option.

The lib already provides an architecture to fix your problem. It requires some css optimisation though.

1. You can use a more advanced padding value based on your taste and goal;
**Larger logo:** `--padding "calc(5

[2019-10-25 13:14] #47 closed

[2019-10-25 13:14] #49 closed

[2019-10-25 13:14] #50 closed

[2019-10-25 13:14] #51 closed

[2019-10-25 13:14] #52 closed

[2019-10-25 13:14] #53 closed

[2019-10-25 13:16] onderceylan commented on #47
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/v2.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-25 13:16] onderceylan commented on #49
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/v2.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-25 13:16] onderceylan commented on #50
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/v2.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-25 13:17] onderceylan commented on #51
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/v2.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-25 13:17] onderceylan commented on #52
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/v2.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-25 13:17] onderceylan commented on #53
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/v2.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-26 08:28] x4080 commented on #54
Thanks for quick reply, I will try it and let you now

[2019-10-26 22:23] x4080 commented on #54
It works, thanks a lot @onderceylan

[2019-10-26 22:23] #54 closed

[2019-10-27 22:33] onderceylan opened #56 "Avoid SPOF when chrome launcher fails to connect"
Chrome launcher might fail to connect to system Chromium instance on some systems. This introduced SPOF for the lib.

[2019-10-27 23:12] #56 closed

[2019-10-27 23:13] onderceylan commented on #56
:tada: This issue has been resolved in version 2.0.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/v2.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-28 03:53] onderceylan opened #58 "Chrome launcher does not exit properly on connection error"
In case of `connect ECONNREFUSED` error, chrome launcher instances doesn't get killed. This creates memory issues and introduces SPOF for the lib.

A preferred solution for this is to treat system browser initialization differently and let launcher handle the process management on error.

[2019-10-29 12:54] r1m opened #60 "Path prefix encoding in index.html"
**Describe the bug**
Path prefix are html encoded.
I'm trying to use this for a VueJS app. Index.html file is a template that will be augmented during the build process.

Typically it contains some templating for environment variables

[code]
This tool is encoding any path, can we disable this behavior ?

**To Reproduce**
Steps to reproduce the behavior:
1. Execute cli command `pwa-asset-generator

[2019-10-30 04:13] onderceylan commented on #60
Hi @r1m, thanks for the feedback. I will be releasing the fix quite soon.

[2019-10-30 06:59] #60 closed

[2019-10-30 07:02] onderceylan commented on #60
:tada: This issue has been resolved in version 2.0.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/v2.0.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-30 08:11] r1m commented on #60
Wow, that was quick ! Thanks for the fix 👏

[2019-10-30 17:57] elmeerr commented on #58
I'm facing this issue on a windows 10 machine.

[code]

Is there a workaround for this?

[2019-10-30 18:05] onderceylan commented on #58
Hi @elmeerr, thank you! I think this is a bug introduced with v2. Can you please try installing v1.3.1 - https://www.npmjs.com/package/pwa-asset-generator/v/1.3.1?

I’m working on the fix atm. Sorry for inconvenience.

[2019-10-31 02:18] onderceylan opened #62 "Upgrade to pptr 2 to and generate images on single chromium instance"
Before puppeteer v2, we had to initialize a new chromium instance to take a screenshot of a different window size. New schreenshot API can change the viewport properly so we just need to create a new tab, no need to create a new instance.

This change will make the lib much less cpu and memory intensive.

[2019-10-31 14:54] onderceylan opened #64 "Image save path in generateImages API result includes backslash on Windows"
Image save path in generateImages API result includes backslash on Windows. We need to replace backslashes with slashes for the path output.

[2019-11-01 15:27] #58 closed

[2019-11-01 15:27] #62 closed

[2019-11-01 15:27] #64 closed

[2019-11-01 15:31] onderceylan commented on #62
:tada: This issue has been resolved in version 2.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/v2.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-11-01 15:31] onderceylan commented on #58
:tada: This issue has been resolved in version 2.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/v2.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-11-01 15:32] onderceylan commented on #64
:tada: This issue has been resolved in version 2.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/v2.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-11-01 16:00] onderceylan opened #65 "Chrome launcher can't kill instances failing with error"
When called `chrome.kill()`, chrome launcher sometimes fails to kill the instance, causing lib to fail at that point.

[2019-11-01 16:22] #65 closed

[2019-11-01 16:24] onderceylan commented on #65
:tada: This issue has been resolved in version 2.1.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/v2.1.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-11-07 16:56] elmeerr opened #68 "Transparent background does not work"
**Describe the bug**
The docs says that transparent background is default but this is not happening

**To Reproduce**
Steps to reproduce the behavior:
1. Execute cli command `npx pwa-asset-generator https://icon-library.net/images/img_566996.png`
2. Open generated images
3. See error

**Expected behavior**
Images with transparent background.

**System (please complete the following information):**

[2019-11-08 08:59] onderceylan commented on #68
Hi @elmeerr, thanks for the feedback. Although default background color is transparent, there's another option that you need to use which impacts this scenario: **opaque**.

You need to run your command with **--opaque false** option in order to get the transparency;
`npx pwa-asset-generator https://icon-library.net/images/img_566996.png --opaque false`

I understand this might be confusing but it

[2019-11-08 08:59] #68 closed

[2019-11-08 09:13] onderceylan commented on #68
I'm updating the docs to clarify this btw, thanks for the heads up!

[2019-11-08 09:40] onderceylan commented on #68
:tada: This issue has been resolved in version 2.1.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/v2.1.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-11-08 10:50] onderceylan opened #69 "Optimize build for node >=8.16.0"
Remove tslib and change tsconfig target to align with engine >=8.16.0 req

[2019-11-08 16:34] Truth1984 opened #70 "add favicon only flags"
Here is the situation,
I want to generate a transparent `favicon`, and white background for `splash` and `icon`, but there is no such option.

when I set `{favicon: true}`, the program automatically generate `icon & splash` for me

Thus here is my workaround, first I generate `favicon` with `{ opaque: false, iconOnly: true, favicon: true }` and then overwrite it with `{background:"#FFFFFF", favico

[2019-11-09 05:37] pniaps opened #71 "Deprecated media feature “device-width”"
After updating the source and validating, multiple error are shown.

line 47: Bad value “(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)” for attribute “media” on element “link”: Deprecated media feature “device-width”. For guidance, see the Deprecated Media Features section in the current Media Queries specification.

And this is

[2019-11-09 09:17] onderceylan commented on #71
Hi @pniaps, thanks for the feedback. Unfortunately, this is a tradeoff you have to make if you want to provide splash screens for iOS platform. As described in blog post in motivation, iOS doesn't respect Web App Manifest specs and it introduces it's own non-standard way of dealing with splash screens.

It's either validity of your HTML or the splash screen features on iOS. If you care about HTML

[2019-11-09 09:17] #71 closed

[2019-11-09 09:26] onderceylan commented on #70
Hi @Truth1984, thanks for the feedback! Looks like you found a nice workaround for this edge case.

Currently, generating favicon is coupled with app icon generation, which kinda made sense back then. But now I consider changing --favicon flag to --favicon-only by also decoupling it from the rest of icon generation.

[2019-11-09 09:29] onderceylan opened #72 "Utilize util.promisify()"
As node engine req has been increased to >=8.16.0 with pptr v2 upgrade, we can use node's `util.promisify()`method on file service.

[2019-11-09 09:57] elmeerr commented on #68
@onderceylan Thanks for clarifying this!

[2019-11-10 22:55] onderceylan opened #73 "Remove process.setMaxListeners call in puppets"
As lib doesn't initialize a new browser instance for each screenshot anymore, there's no need to keep process.setMaxListeners() call in https://github.com/onderceylan/pwa-asset-generator/blob/master/src/helpers/puppets.ts#L311

[2019-11-11 16:32] pniaps commented on #71
Thanks for your response.
I didn't found that information before.
Thanks again.

[2019-11-30 12:36] ChristofferSkog21st opened #74 "[question]: (Potentially) missing icon sizes"
When you create a PWA app using Angular CLI the following sizes are added to your manifest file:

[code]

However, when you generate sizes using this package the only ones that are changed are the last three:

[code]

Can you safely remove the other ones from the manifest file or should I create these images myself to be certain that it works as intended on every device?

You mention the following

[2019-11-30 17:13] onderceylan commented on #74
Hi @ChristofferSkog21st, thanks for the question! pwa-asset-generator only generates 2 icons for the manifest, with the sizes of 192x192 and 512x512. This is documented both on the readme and the blog post linked on motivation.

I also wonder why Angular CLI still generates all those sizes with their schematics, so maybe it's better to open an issue in their repo and ask them.

There's a discussio

[2019-11-30 17:13] #74 closed

[2019-12-01 02:29] tiborsaas opened #75 "Error when icons key is missing from manifest json"
**Describe the bug**

I get the following error if the "icons" key is missing from the webapp manifest.

    3:22:41 AM cli TypeError: Cannot read property 'filter' of undefined

**To Reproduce**

Remove icons key in manifest file and generate assets with:

    pwa-asset-generator ./frontend/assets/logo.svg ./build -i ./index.html -m ./manifest.json -b #000000

**System (please complete the follow

[2019-12-01 17:29] onderceylan commented on #75
Hi @tiborsaas, thanks for filing the issue. I will look into it.

[2019-12-12 11:11] Mellis84 opened #76 "cli Error: EISDIR: illegal operation on a directory, read"
I seem to get a "cli Error: EISDIR: illegal operation on a directory, read" when trying to update the index.html and manifest file. I'm using NPX, I have tried deleting my npmrc and .yarnrc, but no luck :(

[2019-12-12 11:13] onderceylan commented on #76
Hey @Mellis84, thanks for the issue. Can you please share the command you try to execute? It seems like you point a folder instead a path to the file.

[2019-12-12 11:15] Mellis84 commented on #76
Thanks for the quick reply dude.

npx pwa-asset-generator ./src/logo.png ./assets -i ./public/index.html -m ./public/manifest.json

[2019-12-12 12:16] onderceylan commented on #76
No worries, happy to help :) Is there any errors if you don't provide index.html and manifest.json file flags?

[2019-12-12 12:17] Mellis84 commented on #76
No, no errors, only if I try to generate an updated index or manifest file

[2019-12-12 12:26] onderceylan commented on #76
Then I suspect there might be a permission issue on ./public folder. Can you pls check who owns that folder and what access rights are set on it?

[2019-12-12 12:35] Mellis84 commented on #76
Ok so, for some reason, the permissions were set to (me) which was Read & write but I also decided to set everyone to Read & write and now it works :| strange huh!?

Sorry If I wasted your time dude, I thought if I was set to Read & Write it would be fine.

[2019-12-12 12:36] onderceylan commented on #76
No worries, I'm happy to hear it's resolved now :) Have fun using PAG!

[2019-12-12 12:36] #76 closed

[2019-12-17 10:36] onderceylan commented on #70
After a second thought, I think it's better to park this issue for now by updating the FAQ section of the readme. Adding an additional faviconOnly flag will not help with reducing the CLI calls in this scenario and it will add more complexity to the lib by putting a focus on favicon, which shouldn't be the goal of the lib IMHO. We might resurrect it if it gets more attention from the users in the

[2019-12-17 12:47] onderceylan opened #77 "Issue creating an output dir with recursive dir tree"
When the output folder is non-existent, CLI creates a new folder for users. If a user provides a non-existent directory tree, it's not able to resolve and create the tree for the user.

[2019-12-19 15:02] #8 closed

[2019-12-19 15:02] #35 closed

[2019-12-19 15:02] #69 closed

[2019-12-19 15:02] #70 closed

[2019-12-19 15:02] #72 closed

[2019-12-19 15:02] #73 closed

[2019-12-19 15:02] #75 closed

[2019-12-19 15:02] #77 closed

[2019-12-19 15:04] onderceylan commented on #77
:tada: This issue has been resolved in version 2.1.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/v2.1.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-12-19 15:04] onderceylan commented on #75
:tada: This issue has been resolved in version 2.1.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/v2.1.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-12-19 15:04] onderceylan commented on #73
:tada: This issue has been resolved in version 2.1.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/v2.1.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-12-19 15:05] onderceylan commented on #72
:tada: This issue has been resolved in version 2.1.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/v2.1.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-12-19 15:05] onderceylan commented on #70
:tada: This issue has been resolved in version 2.1.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/v2.1.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-12-19 15:05] onderceylan commented on #69
:tada: This issue has been resolved in version 2.1.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/v2.1.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-12-19 15:05] onderceylan commented on #35
:tada: This issue has been resolved in version 2.1.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/v2.1.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-12-19 15:05] onderceylan commented on #8
:tada: This issue has been resolved in version 2.1.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/v2.1.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-12-26 03:22] ganySA opened #93 "Stretched images on IPAD pro landscape"
Hi

I am getting stretched images for splash on IOS ipad pro in landscape mode - i have tried multiple input formats.

What should i use as input (size and file type) ?

[2019-12-26 08:47] onderceylan commented on #93
Hi @ganySA, can you please paste the image and the command that you execute here?

[2019-12-29 23:18] fabianhinz commented on #93
Hi,
This might be a problem related to iPadOS as all necessary files are generated.
I tried various solutions from this thread [here](https://stackoverflow.com/questions/4687698/multiple-apple-touch-startup-image-resolutions-for-ios-web-app-esp-for-ipad) but nothing seemed to work, always got the same results as @ganySA. The comment of [This](https://stackoverflow.com/a/57338818/12496862) answer t

[2019-12-30 12:09] onderceylan commented on #93
Hi @fabianhinz @ganySA,

I tested the behavior on iOS 13.0 landscape orientation and it indeed stretches the portrait image on landscape and it doesn't respect the image provided in landscape orientation anymore. Resulting with the following display:

![image](https://user-images.githubusercontent.com/2641384/71581289-c13bb280-2b04-11ea-91f0-1b99c1c9bf0f.png)

This is not the case on iOS 12 and ea

[2020-01-16 14:45] Sideral-Inc opened #116 "Adding type "jpg""
Would it be possible to add "jpg" as type as well.

It's not a big issue but I usually always use ".jpg" extension and not ".jpeg".

[2020-01-16 14:57] onderceylan commented on #116
Hi @Sideral-Inc, thanks for the issue. Can you please elaborate on this? What would be the added value if the images have .jpg extension instead of .jpeg?

[2020-01-16 15:04] Sideral-Inc commented on #116
Hi @onderceylan,

Actually, I have some external automated tools that are configured to find and manipulate file with extension ".jpg".

Actually, it is more a "nice to have" feature / suggestion and asked it because I think it shouldn't add too much effort to add it.

[2020-01-16 15:39] onderceylan commented on #116
Thanks for more information about your use case. I'll have a look at it soon :)

[2020-01-16 17:18] onderceylan commented on #116
Hold due to: https://github.com/semantic-release/git/issues/187

[2020-01-16 17:39] onderceylan commented on #116
Published this feature with pwa-asset-generator@2.2.0!

[2020-01-16 17:39] #116 closed

[2020-01-21 09:19] onderceylan opened #125 "Remote html input doesn't load on windows all the time"
I bump into a flaky test running on windows time to time: https://github.com/onderceylan/pwa-asset-generator/pull/123/checks?check_run_id=400204904#step:8:17

It's a sign that there might be an issue about race condition with loading the remote input and taking the screenshot.

[2020-01-21 10:49] #125 closed

[2020-01-21 10:52] onderceylan commented on #125
:tada: This issue has been resolved in version 2.2.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/v2.2.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-01-22 17:45] alexeigs opened #128 "No splash screens shown on Vuejs PWA iOS"
**Describe the bug**
I followed the steps and added the tags including the image links to the index.html file. Still I don't see any splash screen at startup but a white screen like before.

**To Reproduce**
Steps to reproduce the behavior:
I'm using VueJS and Quasar; everything else within the manifest and index.html works as expected in all regards, so I don't think it is related to the framewor

[2020-01-22 19:26] onderceylan commented on #128
Hi @alexeigs, thanks for the feedback! Can you please tell which device and orientation you test on?

And HTML meta can be really helpful too.

[2020-01-22 22:00] alexeigs commented on #128
@onderceylan Sure, here are some details:

Testing on an iPhone 7, iOS 13.3 in Portrait mode.

Part of the index.html:

[code]

Anything else that could help investigating?

[2020-01-23 08:57] onderceylan commented on #128
Hey @alexeigs,

I've just tested it on iOS 13.3 iPhone 7 simulator and it all looks fine, for both icon and splash screens.

**Icon**
![image](https://user-images.githubusercontent.com/2641384/72969371-9e2fb600-3dc5-11ea-9bad-ce81243904c5.png)

**Splash Screen**
![image](https://user-images.githubusercontent.com/2641384/72969510-e5b64200-3dc5-11ea-9d63-776e1fa8d8b2.png)

I suspect there might be a

[2020-01-23 17:22] alexeigs commented on #128
@onderceylan The urls works, the image is available there. Also other meta tags work inside the index.html.

Could it interfere with something else in the index file or may it be in any way related to the manifest file?

[2020-01-23 23:02] onderceylan commented on #128
Hey @alexeigs! I honesty have no idea what’s going wrong there. Can you upload it to somewhere so I can give it a look?

[2020-01-24 15:28] alexeigs commented on #128
@onderceylan Ok, somewhat false alarm: it works! But unfortunately it is not updating for apps that have already been added to the home screen. While I force-update the service worker and refresh the whole app successfully whenever I update it, the splash screen does not get updated. Any idea how that may be achieved to include a new splash screen for existing users?

[2020-01-24 18:07] onderceylan commented on #128
Ah, I haven’t suspected that. It explains.

I have bumped into the same issue while demonstrating the dark mode splash
screens.

The problem is not related to the service worker api or web app manifest.
iOS only respects the splash screen and icon meta tags when it’s added to
home screen, only on exact add time. As far as I know, there’s no way to
change them on an already added app.

I will docum

[2020-01-24 18:08] #128 closed

[2020-01-31 17:16] pixeline opened #148 "Provide specific image path for html output"
I'm working on a Sapper/Svelte PWA.
The images are to sit in a "static/images/app-icons" folder.
Sapper uses a `template.html` static html file to generate the SPA index.html
If i do
[code]
The image path is of the like:

[code]
Where it should be
[code]

**Describe the solution you'd like**
I would like an additional parameter, for example:  iff (for Images Folder Href) to set the path to use in

[2020-02-01 12:44] onderceylan commented on #148
Hi @pixeline, thanks for the issue. This makes sense, it can make the lib more flexible for the expected output. I will have a look at it soon.

[2020-02-23 18:12] onderceylan opened #168 "Fails on scraping Apple splash screen specs"
Splash screen specs scraping doesn't work anymore as Apple updated its HIG website: https://developer.apple.com/design/human-interface-guidelines/ios/visual-design/adaptivity-and-layout/#device-screen-sizes-and-orientations

[2020-02-24 07:25] #168 closed

[2020-02-24 07:31] onderceylan commented on #168
:tada: This issue has been resolved in version 2.2.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/v2.2.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-01 09:34] YM-KA opened #175 "Images are generated in low-res"
**Describe the bug**
Images for PWA Push notifications seem to be low-res.
Maybe I am just missing a setting somewhere? 🤓

**To Reproduce**
Steps to reproduce the behavior:
1. Execute cli command 'npx pwa-asset-generator logo.svg -i ./index.html -m ./manifest.json'
2. Open 'manifest.json' and copy the  "icons" section to my manifest.
3. Open the index.html and copy icon link to my index.html.
4. I

[2020-03-01 20:40] onderceylan commented on #175
Hi @YM-KA, thanks for the feedback!

For the transparency issue, you can follow the recipe in the README: https://github.com/onderceylan/pwa-asset-generator#how-can-i-generate-a-png-image-with-transparency

About low resolution, I need more info as this is something I haven't faced myself. Would it be possible to send your index.html, manifest.json and images as a package for inspection? It would

[2020-03-02 08:36] YM-KA commented on #175
Hi @onderceylan , thank you for the reply!
I will follow the recipe in the README. 😀

The device I have tested push notifications on is Android 9.
I have emailed you the address to a site where you can inspect the index.html and manifest.json.

Kind regards /K

[2020-03-02 17:40] onderceylan commented on #175
I inspected the app in your email and it looks like a low-res favicon is used for the notification icons. I also went through the notification display implementation of the app, and it has the following options for the notification;

[code]

The `icon` there should be the one generated by the library, like: `/images/icons/manifest-icon-512.png` - that should fix your low-res issue!

____________

[2020-03-02 17:40] #175 closed

[2020-03-02 17:42] onderceylan commented on #175
@YM-KA, thanks for using PWA asset generator and I hope my feedback will fix your issue. If not, feel free to open a new ticket!

[2020-03-02 20:11] YM-KA commented on #175
Thank you so much for all your help! I had totally missed that! 😳
I will definitely use the option to generate correct favicons.

Thanks for a awesome library!

[2020-03-08 20:26] #148 closed

[2020-03-08 20:26] #38 closed

[2020-03-08 20:30] onderceylan commented on #148
:tada: This issue has been resolved in version 2.3.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/v2.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-08 20:30] onderceylan commented on #38
:tada: This issue has been resolved in version 2.3.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/v2.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-14 18:43] alexkaufman06 opened #188 "Question: Does this work with Angular 9?"
Wondering how well this works with the latest version of Angular and if there are any recommended steps to follow?

[2020-03-15 00:41] onderceylan commented on #188
Hi Alex, it works perfectly fine with Angular too.

You can point out manifest.webmanifest and index.html files in your project folder for automatic updates of icon and splash screen declarations. Documentation should be a good guideline. Please share if you face any issues.

[2020-03-15 00:41] #188 closed

[2020-03-19 20:56] zanettin opened #192 "Option to have self-closing html tags"
**Is your feature request related to a problem? Please describe.**
it's a feature request. currently the output for html meta tags are non self-closing tags. which works fine for html files but not in the context of JSX.

**Describe the solution you'd like**
Provide an option to get self-closing html meta tags.
current:
[code]

expected:
[code]

**Describe alternatives you've considered**
i could

[2020-03-21 18:37] onderceylan commented on #192
Hi @zanettin, thank you for using PAG and opening this feature request. What type of project setup do you have? Many of the frameworks, including jsx based template adapters use a single index.html entry. Isn't it the case for you too?

[2020-03-21 23:06] zanettin commented on #192
Thank you very much for your kind reply! I‘am using next.js with a custom _document.tsx file where all meta headers are defined. Since all the requests are handled on server side rendering, no physical index.html file is in the project itself but generated per request on the nodejs instance. the injection of the tags directly into a js/ts file fails but thats ok for me personally. just thought abo

[2020-03-22 09:17] smth opened #194 "PNG Optimisation"
There seems to be potential to (further) optimise the produced PNGs. I just tried running a couple of icons through [ImageOptim](https://github.com/ImageOptim/ImageOptim) with lossless compression and reduced the size of the files by about 50%.

[2020-03-24 13:56] onderceylan commented on #192
Thanks for the additional info @zanettin! I will look into this and get back to you soon. It's my pleasure providing this lib to the community, enjoy :)

[2020-03-24 14:10] onderceylan commented on #194
Hi @smth, thanks for using PAG and for opening this feature request. Indeed, there's a big potential of image optimization for both PNG and JPEG images.

I'd like to keep Puppeteer as main dependency for image generation on this library, so I'm tightly coupled on what Puppeteer provides for it's screenshot feature for now.

There are a couple of possibilities to introduce the image optimization;

[2020-03-25 23:43] tigt opened #202 "Terser iOS startup image output?"
## Is your feature request related to a problem? Please describe.
It’s a bummer how iOS needs separate `<link>`s for each combo of device screen dimensions+density+orientation. Hopefully Apple will allow SVGs or `<link imagesrcset>` in the future, but for now a big old wad of HTML in the `<head>` is required. And now there’s Dark Mode!

PWA Asset Generator does a great job covering all these combi

[2020-03-27 13:19] fchristant commented on #93
Thanks for reporting this to Apple. Took me a long time to find out about this issue.
Effectively, to me it means that all iPad splash screens are best removed, because most users are on iOS13 and most people launch iPad web apps in landscape mode.

I first tried a middle ground approach, to supply specific portrait mode images only (orientation: portrait), and then to accept that landscape will h

[2020-03-27 15:54] onderceylan commented on #93
Just checked the issue again, it didn't get any reaction since it's opened on Dec 30, 2019. That's just, sad.

If anybody is willing to submit this issue to Apple like I did, that would create more voice and hopefully help.

Here's a template for creating an issue on Apple feedback assistant - https://feedbackassistant.apple.com/;

Attachments required for the feedback is listed above;

[website.z

[2020-03-29 17:50] sandeep206 commented on #30
Hi Onder, I would like to pick this issue. I saw the code and I was thinking of removing the new line being added(append/prepend) while inserting to the HEAD tag. And was also thinking of using npm package `js-beautify` to reformat the html.  I can create a PR, if this is ok for you. Cheers, Sandeep

[2020-04-03 07:26] onderceylan commented on #202
Hi @tigt,

Thanks for using PAG and sharing your feedback. If there is an optimization that can be formulated, I'm totally in favor of implementing it.

Currently, the lib parses device specs such as device resolution in pixels and pixel density from Apple Human Interface guidelines. All the HTML is generated based on a specific formula, using the fetched specs of devices.

Do you think your propo

[2020-04-03 07:30] onderceylan commented on #30
Hey Sandeep, thanks for the help! It's much appreciated. What I'd like to accomplish here is not minification of html output but avoid re-formatting the target html file altogether.

Cheerio re-formats the html file so the format of the target html changes, like tabs/spaces/indentation added that users might not really enjoy.

We need to update html file by adding the generated meta tags to the co

[2020-04-03 10:13] tigt commented on #202
I think it can be formulated, yeah:

1. If any constraint (width, height, or resolution) is unique across all devices, then it can be used by itself
2. If width+height are unique, then `-webkit-min-resolution` can be dropped
3. Otherwise, print the whole thing
4. Attach the `orientation` queries last

[2020-04-03 11:05] onderceylan commented on #202
Great @tigt, thanks for the formula! I will look into it. If you'd like to contribute on implementation as well, feel free please.

[2020-04-11 12:24] jasonhibbs opened #227 "Emulate dark mode in screen capture of html files"
**Is your feature request related to a problem? Please describe.**
I’m generating screens from an index.html and was hoping to use `@media (prefers-color-scheme: dark)` to make dark mode easy.

**Describe the solution you'd like**
I’d like `--dark-mode` to emulate this media feature during the screen capture process.

**Describe alternatives you've considered**
~I guess I have to make my `<html>`

[2020-04-12 12:28] onderceylan commented on #227
@jasonhibbs thanks for using the lib and giving this feedback. It makes a lot of sense, I wonder how I missed that. Thanks! I will look into it soon.

[2020-04-13 09:53] onderceylan opened #229 "Extend chrome launch args for stricter sandbox"
Add a new set of launch args to create a stricter sandbox when launched system browser

[2020-04-13 20:06] onderceylan opened #231 "Drop node 8"
Drop node 8 as it reached it's EOL

[2020-04-16 06:59] shnigi opened #234 "Update documentation for clear input requirements"
**Describe the bug**
This generated splash screen overrides Android icon. When user adds the app to the home screen default Android icons are not used anymore but the new generated ios splashscreen takes over.

**To Reproduce**
Steps to reproduce the behavior:
1. Add Android icon which is different to IOS splash screen
2. Generate IOS splash screen with this tool
3. Install app for Android phone

[2020-04-16 07:18] onderceylan commented on #234
Hey @shnigi, thanks for using the library and sharing your feedback!

Can you please share a bit more context? Like attaching the files (manifest.json) and stating what you expect to see and what's unexpected?

From where I look, iOS splash screens have no place in Android ecosystem and they're declared in two very different ways.

[2020-04-17 07:21] shnigi commented on #234
@onderceylan Hi thanks for your comment. I had a second look and looks like I was missing the --splash-only parameter. The default values wrote to my manifest.json which then changed the icon so I believe this is user error from my side.

However I still would like to have more information about the deprecated device width usage.

Second thing is that I don't know what kind of image I should apply

[2020-04-27 12:46] scurrilus-funke opened #248 "Generate json with device and image dimensions"
Hi @onderceylan,

first of all thanks for your nice work. It saves a lot of time to create the pwa artwork via script.
In the following I would like to briefly describe an idea.

You have the option to create a manifest.json and an index.html. Since I am currently working on a react project, I have written a component in this context that generates the respective <link> elements based on a JSON da

[2020-04-28 19:37] onderceylan commented on #202
Here's the original html output for splash screens:

[code]

[2020-04-29 19:45] onderceylan commented on #234
@shnigi I'm going to add answers to your questions to the readme.

Device width media query is still being used by iOS to match splash screen images. When it's an exact match with device's resolution, it display the splash screen as a launch image on bookmarks/PWAs added to home screen.

Your input image is being scaled to fix the viewport of the target device while generating splash screens. Ther

[2020-04-29 20:03] onderceylan commented on #248
Hi @scurrilus-funke, thanks for using PWA Asset Generator (PAG) and sharing your feedback! I understood your proposition. PAG already uses such file as a source of truth for splash screen and meta html generation.

It's being generated over PAG's scraper: https://github.com/onderceylan/pwa-asset-generator/runs/629521252?check_suite_focus=true#step:7:21

PAG uses this file on the distributed npm pa

[2020-05-02 12:45] jensmeindertsma commented on #93
This is still an issue. Is there any roadmap on which version of iOS will fix this? I've tried only supplying portrait splashscreens but the stretching is still present. I've also noticed the user needs to re-install the app after switching themes in the settings for the light/dark mode splashscreen to be used.

[2020-05-02 19:37] fchristant commented on #93
Apple doesn't share roadmaps. I would not expect that they fix this one. Hopefully, one day they support Web Manifest, which is the proper place for launch icons.

[2020-05-06 06:10] dalmo3 opened #263 "-h used for both --path-override and --splash-only"
Here I was writing a really long, fully reproducible bug description on how icons were not being generated until I realised I was using `-h` for overriding path, but it **also** prevents generating icons.

Of course the workaround is using full flag names, but still needs fixing imo.

[2020-05-06 11:34] scurrilus-funke commented on #248
Hi @onderceylan ,

this would be greeat. This is exactly what i am searching for. Thank you.

best Peter

[2020-05-06 11:37] onderceylan commented on #263
Hi @dalmo3, thanks for your feedback! It indeed is a bug. I will look at it asap.

[2020-05-10 20:16] onderceylan commented on #194
I've added docs to guide users over the compression possibilities and decided to leave this concern out of the scope of this library.

[2020-05-14 07:23] onderceylan opened #278 "Set default output type to JPG"
Due to the large carbon footprint that PNG creates, it's better to use JPG with compression by default.

[2020-05-14 19:18] onderceylan commented on #93
This is still an issue as of iOS 13.4. Please submit an issue to https://feedbackassistant.apple.com/ with the template and the files attached on this PR.

[2020-05-14 23:01] xPh03niX opened #280 "Security vulnerabilities"
**Describe the bug**
Prototype pollution risk with two nested dependencies,

* Update minimist to version 1.2.3 or newer
Path: pwa-asset-generator > chrome-launcher > mkdirp > minimist
* Update yargs-parser to version 18.1.2 or newer
Path: pwa-asset-generator > meow > yargs-parser

**To Reproduce**
Steps to reproduce the behavior:
1. Install the package using node
2. npm audit
3. See error

**Expe

[2020-05-15 06:45] onderceylan commented on #280
Hey @xPh03niX, thanks for the feedback. There's a new release in the process already and it will fix this issue as well.

[2020-05-15 06:54] #30 closed

[2020-05-15 06:54] #192 closed

[2020-05-15 06:54] #194 closed

[2020-05-15 06:54] #227 closed

[2020-05-15 06:54] #229 closed

[2020-05-15 06:54] #231 closed

[2020-05-15 06:54] #234 closed

[2020-05-15 06:54] #248 closed

[2020-05-15 06:54] #263 closed

[2020-05-15 06:54] #278 closed

[2020-05-15 06:54] #280 closed

[2020-05-15 06:57] onderceylan opened #281 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-05-15 07:27] onderceylan commented on #281
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-05-15 10:25] onderceylan commented on #30
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator/v/3.0.0)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/v3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-15 10:25] onderceylan commented on #192
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator/v/3.0.0)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/v3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-15 10:25] onderceylan commented on #194
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator/v/3.0.0)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/v3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-15 10:25] onderceylan commented on #227
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator/v/3.0.0)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/v3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-15 10:25] onderceylan commented on #229
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator/v/3.0.0)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/v3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-15 10:25] onderceylan commented on #231
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator/v/3.0.0)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/v3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-15 10:25] onderceylan commented on #234
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator/v/3.0.0)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/v3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-15 10:25] onderceylan commented on #248
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator/v/3.0.0)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/v3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-15 10:25] onderceylan commented on #263
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator/v/3.0.0)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/v3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-15 10:25] onderceylan commented on #278
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator/v/3.0.0)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/v3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-15 10:25] onderceylan commented on #280
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator/v/3.0.0)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/v3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-15 10:29] #281 closed

[2020-05-15 17:36] xPh03niX commented on #280
Thanks for the quick solution, you're cool.

[2020-05-18 07:31] StanzillaManticore commented on #194
I don't think that just switching to JPG solves this issue tbh.

[2020-05-18 08:43] onderceylan commented on #194
Hey @StanzillaManticore, thanks for your feedback. I think the opposite, mainly due to library's main use case;

* The icon and splash screen images generated for PWAs are most of the times generated with a background, without transparency. So, using JPG type with a compression is already a big improvement.
* Only favicons with transparency must be generated with PNG output.

Can you please share

[2020-05-18 09:06] StanzillaManticore commented on #194
Well mostly that, some files need to be PNG and those can always be optimized so using something like imagemin during compilation is still able to shave of a few bytes. But not sure if that is inside the scope of this project or should be left to web owners :)

[2020-05-23 17:31] Quethzel commented on #93
I have the same issue in iOS 13.4, I submitted an issue using the same description as you made and a video that I recorded showing the behavior, also I send a firebase URL to they can check it out and test it. I hope answer fast.

Thanks for your help @onderceylan

[2020-05-23 19:47] onderceylan commented on #93
Thanks for submitting an issue @Quethzel! The more voice we have the sooner we get a reaction and hopefully a fix on iPad OS for this problem.

[2020-05-28 05:39] ChelloApps opened #296 "Background is never transparent"
**Describe the bug**
Background is always solid white, I can't seem to make it transparent?

**To Reproduce**
pwa-asset-generator check-double-duotone.png --favicon --path-override ./assets/icons --type png

**Expected behavior**
Based upon the documentation the background should be transparent.

**System (please complete the following information):**
 - OS: Windows 10
 - node version: v10.15.2
 -

[2020-05-28 07:37] onderceylan commented on #296
Hi @ChelloApps, thanks for using pwa-asset-generator and sharing this feedback!

Creating transparent images require `--opaque false` parameter. This is documented on the FAQ section of the README: https://github.com/onderceylan/pwa-asset-generator#how-can-i-generate-a-png-image-with-a-transparency

Once you provide that parameter along with `--type png`, you should have transparent images.

[2020-05-28 07:37] #296 closed

[2020-05-30 14:50] FelixIsaac opened #298 "Support for WebP"
**Is your feature request related to a problem? Please describe.**
Not a problem, but would be nice if there was support for WebP file format.

**Describe the solution you'd like**
Use the "sharp" library, if you want.

[2020-06-03 20:00] onderceylan opened #301 "Add BLM branding #blacklifematters"
Add BLM branding to support the #blacklifematters movement in the memory of George Floyd and to embrace a change in the world  for the better 🙏

[2020-06-03 20:01] onderceylan opened #302 "Display help instead of error when no arg is passed"

[2020-06-03 20:09] #301 closed

[2020-06-03 20:09] #302 closed

[2020-06-03 20:12] onderceylan commented on #301
:tada: This issue has been resolved in version 3.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator/v/3.1.0)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/v3.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-03 20:12] onderceylan commented on #302
:tada: This issue has been resolved in version 3.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator/v/3.1.0)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/v3.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-03 20:34] onderceylan opened #303 "Fix BLM example image url"

[2020-06-03 20:35] #303 closed

[2020-06-03 20:37] onderceylan commented on #303
:tada: This issue has been resolved in version 3.1.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator/v/3.1.1)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/v3.1.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-04 09:00] onderceylan commented on #93
This is still an issue as of iOS 13.5.

[2020-06-09 12:54] Alessandroinfo opened #309 "Generation of ms icons"
It's possible to generate also ms icons?

Like these:
[code]

[2020-06-14 16:58] onderceylan commented on #298
Hi @FelixIsaac, thanks for the feature request. I'll look into it asap.

[2020-06-14 16:58] onderceylan commented on #309
Hi @Alessandroinfo, thanks for the feature request! I will look into it asap.

[2020-06-19 10:18] Janne252 opened #318 "File hashes"
**Is your feature request related to a problem? Please describe.**
New icons will not become visible to the users due to browser caching and cache headers.

**Describe the solution you'd like**
Introduce a customizable (filename template?) option to add hashes to generated icon file paths, e.g.
 - `"src": "/icons/manifest-icon-192.png?af648f1706164b878057cd9509a8cd28"`
- `<link rel="icon" type="im

[2020-06-24 11:33] kasperkamperman opened #325 "Use sRGB color profile"
**Describe the bug**
I'm using a specific purple color: #4f14bc as a background color and in my images (tested both svg and png).
However this color comes out as: #3a1fb1 in PNG
And as #3c1eb0 in JPEG

**To Reproduce**
npx pwa-asset-generator Demo-Dot.svg ./bug/ --background "#4F14BC" --type png
npx pwa-asset-generator Demo-Dot.png ./bug/ --background "#4F14BC" --type png
npx pwa-asset-generator D

[2020-06-25 12:41] onderceylan commented on #325
Hi @kasperkamperman, thanks for your feedback! pwa-asset-generator doesn't do anything special for the rendering of the colors and the color codes in image output. It's all set by Puppeteer and Chromium based browser itself.

Before digging in, may I ask you to try RGB color value instead, such as `--background "rgb(79,20,188)"` to see whether it meets your expectations? I also wonder if changing

[2020-07-07 14:09] marharyta opened #337 "Use PNG as a default format for manifest icons"
**Is your feature request related to a problem? Please describe.**
As specified at the URL: [https://web.dev/splash-screen/?utm_source=lighthouse&utm_medium=devtools](https://web.dev/splash-screen/?utm_source=lighthouse&utm_medium=devtools) it looks like the Splash scree requires the icon imported into manifest to be a PNG, yet the util generates .JPG

**Describe the solution you'd like**
An oppor

[2020-07-07 15:27] onderceylan commented on #337
Hey @marharyta, thanks for using pwa-asset-generator and providing your feedback.

What's referred in Lighthouse is the icons defined in manifest file. Once you have png icons generated, that warning should go away. And, it's currently possible to specify icons in png format via pwa-asset-generator using the `--type` param.

An example use would be;

[code]

The splash screen images are particular

[2020-07-07 17:57] marharyta commented on #337
Thanks for the fast reply @onderceylan

[2020-07-27 01:59] stevenmunro opened #351 "xhtml: true has no effect"
Thanks for this promising icon generator.

`xhtml: true` appears to have no effect when used with the module (`const pwaAssetGenerator = require('pwa-asset-generator');`) example.

-x --xhtml                  Generate HTML meta tags by self-closing the tags  [default: false]

Is this the intended way to pass this flag?

[2020-07-27 02:08] stevenmunro commented on #351
If I look at the `htmlMeta` object, I can see the self-closing tag being applied, however this is not making its way into the index.html file.

[2020-07-30 09:44] julespaget opened #355 "Scraping Apple device specs is broken"
Error when we launch this command :
`npx pwa-asset-generator logo.svg -b "linear-gradient(to bottom, #980005 0%, #CE3328 100%) fixed" --index ./index.html --manifest ./manifest.json `

Console :
[code]

and result in index.html :

[code]

we have device-height with NaNpx.

It worked 3 month ago.

[2020-07-30 09:59] onderceylan commented on #355
Hi @julespaget, thanks for reporting the issue! I've just tested the functionality and you're right, seems like the data scraped from Apple site is broken. I'm going to fix the issue asap.

In the meantime, you can use the fallback data by providing `--scrape=false` param to the CLI, please see `-s false` at the end;

[code]

PS: I've a daily check against the scraping of Apple device specs, and l

[2020-07-30 17:04] maklai-0x001 commented on #355
Hey thanks for Generator ,
I'm having same issue , the fact is that -s false still skips many screen sizes

[2020-07-30 17:29] onderceylan commented on #355
Hey @maklai-0x001, thanks for using it.
Can you please elaborate on that? Which devices or sizes does it skip exactly?

[2020-07-30 17:54] maklai-0x001 commented on #355
THE SKIPED ONES:
apple-splash-0-0.png
apple-splash-320-568.png
apple-splash-375-667.png
apple-splash-375-812.png
apple-splash-414-736.png
apple-splash-414-896.png
apple-splash-768-1024.png
apple-splash-810-1080.png
apple-splash-834-1112.png
apple-splash-834-1194.png
apple-splash-1024-1366.png

[2020-07-30 17:56] maklai-0x001 commented on #355
THE SKIPED ONES:
apple-splash-0-0.png
apple-splash-320-568.png
apple-splash-375-667.png
apple-splash-375-812.png
apple-splash-414-736.png
apple-splash-414-896.png
apple-splash-768-1024.png
apple-splash-810-1080.png
apple-splash-834-1112.png
apple-splash-834-1194.png
apple-splash-1024-1366.png

[2020-07-30 17:58] maklai-0x001 commented on #355
Today it happend to work for some time and then again failed , yesterday it was working perfect .

[2020-07-30 18:03] onderceylan commented on #355
Scrape false param should work as of now, I've just validated that. Can you share which command do you execute @maklai-0x001?

[2020-07-30 18:40] maklai-0x001 commented on #355
npx pwa-asset-generator ./logo.svg ./img/icons -p "5%" -b "linear-gradient(0deg, rgba(11,133,255,1) 0%, rgba(2,56,180,1) 100%)" --type png --quality 100 --path-override "/img/icons" -s false

[2020-07-30 18:56] maklai-0x001 commented on #355
So i discovered one thing if you run first command without : -s false and then with -s you gather all of spashes

[2020-07-30 18:58] onderceylan commented on #355
Thanks for the input @maklai-0x001, I'm working on the issue atm. I will release a fix soon.

[2020-07-30 21:38] onderceylan commented on #337
I'm converting this issue to a bug as saving PNG was the earlier functionality of the CLI and when switched to JPG by default, manifest icons are also started to be saved as JPG files instead of PNG files.

I'm going to introduce a hybrid default for the types, creating an exception for Web App Manifest icons.

[2020-07-30 22:24] #355 closed

[2020-07-30 22:30] onderceylan commented on #355
:tada: This issue has been resolved in version 3.1.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator/v/3.1.2)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/v3.1.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-30 22:38] onderceylan opened #357 "Remove fixed port config to enable parallel builds"
When the CLI is executed in different processes, the fixed port value prevents the execution.

[2020-07-30 23:08] #337 closed

[2020-07-30 23:09] onderceylan commented on #337
:tada: This issue has been resolved in version 3.1.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator/v/3.1.3)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/v3.1.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-30 23:13] onderceylan commented on #325
I'm going to close this issue as by default a compression applies to the both image formats and color can change slightly.

[2020-07-30 23:24] onderceylan commented on #351
Hey @stevenmunro, thanks for using pwa-asset-generator and providing feedback for it! I've just verified the issue, I will look into it asap.

[2020-07-31 13:49] maklai-0x001 opened #362 "Scraping Apple device specs is broken In version 3.1.3"
Before update to 3.1.3 with -s command i was able to generate all needed splashes now new version even with -s false skips following :
apple-splash-0-0.png
apple-splash-320-568.png
apple-splash-375-667.png
apple-splash-375-812.png
apple-splash-414-736.png
apple-splash-414-896.png
apple-splash-768-1024.png
apple-splash-810-1080.png
apple-splash-834-1112.png
apple-splash-834-1194.png
apple-splash-10

[2020-07-31 14:03] maklai-0x001 commented on #362
Small Debug tip:
Returned back to v 3.1.1 Running commands :
npx pwa-asset-generator ./logo.svg ./img/icons -p "5%" -b "linear-gradient(147deg, #FFE53B 0%, #FF2525 74%)" --type png --quality 100 --path-override "/img/icons"
Generates:
apple-icon-120
apple-icon-167
apple-icon-152
apple-icon-180
apple-splash-0-0
apple-splash-320-568
apple-splash-375-667
apple-splash-375-812
apple-splash-414-736
appl

[2020-08-01 09:39] onderceylan commented on #362
Hi @maklai-0x001, you were never supposed to get those images as an output. It was due to a recent change in the source page, which broke the functionality of the lib: https://developer.apple.com/design/human-interface-guidelines/ios/visual-design/adaptivity-and-layout/

You can tell it by the image name: apple-splash-0-0, this doesn't make any sense.

v3.1.2 fixes that issue by properly scraping

[2020-08-01 09:39] #362 closed

[2020-08-08 21:19] brandoncanaday opened #364 "Running as CLI command on CI server causes Puppeteer error "zygote_host_impl_linux.cc(89) Running as root without --no-sandbox is not supported""
**Describe the bug**
Running this library as CLI command in a CI environment causes a Puppeteer error surrounding the Chrome launch option `--no-sandbox`. This library does not let you configure/add Chrome launch options, so this library is unusable whenever this issue arises.

**To Reproduce**
Steps to reproduce the behavior:
1. Execute cli command in CI environment (Gitlab, in this case): `npx p

[2020-08-27 23:03] MarkB700 commented on #93
I tested today on iPadOS 13.6.1. Showed stretched image still. I'm thinking they may have fixed it in iPadOS 14. Maybe someone has a Beta version of iPadOS 14 they can test with?

[2020-08-30 19:49] #357 closed

[2020-08-30 19:53] onderceylan commented on #357
:tada: This issue has been resolved in version 3.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator/v/3.2.0)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/v3.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-08-30 19:57] onderceylan commented on #364
Hi @brandoncanaday, thanks for reporting this issue. I've just release 3.2.0 version of PAG with latest puppeteer version. I've noticed similar reports in puppeteer repo and some of them are related to the dependencies of puppeteer. Can you please try again with the latest version of pwa-asset-generator and verify if issue still exists?

[2020-08-31 08:07] #351 closed

[2020-08-31 08:09] onderceylan commented on #351
:tada: This issue has been resolved in version 3.2.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator/v/3.2.1)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/v3.2.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-08-31 23:40] frederikhors commented on #318
This would be amazing!

Today it is impossible to update an icon of a PWA installed on Android except by changing the name in the manifest! **Too 90's!** :smile:

[2020-09-01 03:56] brandoncanaday commented on #364
@onderceylan the same error unfortunately still exists with version 3.2.1. I still think adding an optional "--no-sandbox" option to the PAG CLI, as I proposed above, might fix it

[2020-09-02 10:51] onderceylan commented on #364
Thanks for testing it @brandoncanaday, ok I will create a test release first to see whether the flag will make a difference in your use case. I will reply here with the test version on npm as soon as it's ready.

[2020-09-02 10:52] onderceylan commented on #318
Thanks for your feedback @Janne252 and @frederikhors! I will look into this feature asap.

[2020-09-04 00:17] ranb2002 opened #389 "Some modifications from a fork"
Hi Önder Ceylan,

Thank you for your generator, it was really useful for my latest projects. :)

I made **[some changes](https://github.com/ranb2002/pwa-asset-generator/pull/1)** to your code for my use case inside my fork. One of the modification was to generate MS Tiles icons (like https://github.com/onderceylan/pwa-asset-generator/issues/309)

**Would you want me to make a pull request against

[2020-09-04 14:46] fabianeichinger opened #391 "Splash screens for iPhone 6/7/8 Plus have the wrong resultion"
Probably related to the parsing chances in #362. iPhone 6 Plus is listed as 1920x1080, which is the physical resolution of the display, but the device uses and requires a splash screen with the logical resolution 414x736@3x.

[2020-09-10 08:47] jasonhibbs opened #397 "HIG update? Spec data returns at 1x and some of zero size."
**Describe the bug**

I saved the following images today, 11 items compared to a usual 20 or so. They appear to be at a 1x resolution and some of 0 size, duplicates overwrite each other.

[code]

**To Reproduce**

1. Be online
2. pwa-asset-generator public/launch.html public/img/launch --splash-only
3. follow log

**Expected behavior**

Images will be saved at various sizes.

**System (please comp

[2020-09-10 09:40] MarkB700 commented on #93
iPadOS 13.7 showed stretched images when installed today. I submitted feedback to Apple.

[2020-09-10 09:57] onderceylan commented on #397
Hi @jasonhibbs, thanks for your feedback. I've just ran the sanity check script and it seems it's all fine with the scraping part. Please check logs here: https://github.com/onderceylan/pwa-asset-generator/runs/1095506036?check_suite_focus=true#step:7:16

Are you sure you're on the latest version of PAG? We hit this issue on an earlier versions.

[2020-09-10 10:04] jasonhibbs commented on #397
Ah yes, looks like my global copy of 3.1.1 was running, works after updating. Thanks!

[2020-09-10 10:04] #397 closed

[2020-09-17 07:01] MarkB700 commented on #93
iPadOS **14** showed stretched images when installed today.

[2020-09-17 20:37] onderceylan opened #405 "Fix dimension regex for updated apple specs data"
https://developer.apple.com/design/human-interface-guidelines/ios/visual-design/adaptivity-and-layout/ is updated and regex to match dimension content does not work anymore.

[2020-09-17 20:56] #405 closed

[2020-09-17 20:59] onderceylan commented on #405
:tada: This issue has been resolved in version 3.2.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator/v/3.2.2)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/v3.2.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-09-25 23:10] MarkB700 commented on #93
iPadOS **14.1** showed stretched images when installed today.

[2020-10-16 01:33] MrRobotjs commented on #391
same issue here.

[2020-10-23 12:26] onderceylan commented on #391
Hi @fabianeichinger and @MrRobotjs, thanks for reporting this issue. I've just reproduced the issue myself. I will come up with a fix soon.

[2020-10-23 14:43] onderceylan commented on #364
Hey @brandoncanaday, I have doubts about adding this option to the library as it may bring [serious security concerns](https://github.com/puppeteer/puppeteer/blob/main/docs/troubleshooting.md#setting-up-chrome-linux-sandbox) when a local or remote HTML input is provided. I'm thinking of adding this option only if there an image input. Does your use case include HTML inputs?

[2020-10-23 15:03] brandoncanaday commented on #364
My case is just an image. Judging from this line from your link

I think I agree with you about not allowing this option with any remote input.

[2020-10-23 15:43] #391 closed

[2020-10-23 15:47] onderceylan commented on #391
:tada: This issue has been resolved in version 3.2.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator/v/3.2.3)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/v3.2.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-10-23 16:07] onderceylan commented on #389
Hey @ranb2002, thank you for your feedback and for the improvement ideas you shared! Would you like to contribute with the MS Tiles icons change of yours for starters? That's a very good candidate imho as it's an active feature request as you referred.

[2020-10-26 17:02] Wasenshi123 opened #433 "iOS icon & index.html revise"
about generating iOS icon and changing index.html file, **regarding to `apple-touch-icon`**

According to this guideline that I have found:

![image](https://user-images.githubusercontent.com/12524716/97202958-dba6f100-17e6-11eb-85e8-ae1ae1597ba9.png)

**I propose to change the way this generator modify index.html to include only the default `<link rel="apple-touch-icon" href="...">` linked to 180

[2020-10-26 17:13] Wasenshi123 opened #434 "index.html bug"
**Describe the bug**
When generate icons & images repeatly with this generator, the index.html file gets more and more dirty quickly.

**To Reproduce**
Steps to reproduce the behavior:
1. generate a set of assets
2. repeat the process until satisfy

**Expected behavior**
the Index.html should be clean and well formatted (e.g. indentation, whitespace) regardless of how many time the generator has b

[2020-10-26 17:16] Wasenshi123 commented on #433
By the way, thank you for making this lovely helper. I really like it. :)

[2020-11-01 09:52] controlmypc commented on #93
still an issue on ipados 14.2

[2020-11-01 09:55] controlmypc commented on #93
why tf aren't they fixing that

[2020-11-01 10:04] MarkB700 commented on #93
I'd suggest https://feedbackassistant.apple.com/ if not submitted already.

[2020-11-01 10:06] MarkB700 commented on #93
Also, are a new media queries and images needed for the new iPad released a few weeks ago?

[2020-11-07 13:45] afriedma opened #446 "Specify image sizes as a parameter"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Thank you for the great library, it rocks!!!
Would be cool to specify your own size as a parameter.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

pwa-asset-generator -s "72,96,128,144,15

[2020-11-09 21:26] onderceylan commented on #446
Hi @afriedma, thanks for your feedback and opening this feature request. This was a feature I was thinking of as well. Would you be interested in customizing the names of the output files as well?

[2020-11-09 21:41] afriedma commented on #446
Hello, thanks for reply.  Yes, customizing the name with wildcards would be a great feature as well.

On Nov 9, 2020, at 4:26 PM, Önder Ceylan <notifications@github.com> wrote:

﻿

Hi @afriedma<https://nam12.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fafriedma&data=04%7C01%7C%7Cb199e3658e2247f6572f08d884f61f1a%7C84df9e7fe9f640afb435aaaaaaaaaaaa%7C1%7C0%7C637405539896079210%7CU

[2020-11-12 05:36] MarkB700 commented on #93
Here's what I used. Has anyone tested any of those on the new iOS devices?

<link rel="apple-touch-startup-image" media="screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="/pages/splash-screen/images/1.png">
<link rel="apple-touch-startup-image" media="screen and (device-width: 375px) and (device-height: 812px) and (-

[2020-11-15 21:03] onderceylan commented on #93
Hi @MarkB700, thanks for sharing the 2020 Apple devices block. The website that library uses to feed the data is not updated yet. Considering Apple's delay on updating it's own site, I now think it would be better to maintain this specs manually and ditch the scraping part.

[2020-11-17 22:04] samselikoff opened #454 "iPhone 12 Pro sizes"
I don't think iPhone 12 Pro has a corresponding link generated. I believe the resolution is 2,532 x 1,170.

I was under the impression the scraping tool would have caught this but is there a static place in this repo that requires it?

Thanks for this amazing tool!

[2020-11-18 06:46] onderceylan commented on #454
Hey @samselikoff! Thanks for opening the issue. Unfortunately, Apple did not update [their dev site](https://developer.apple.com/design/human-interface-guidelines/ios/visual-design/adaptivity-and-layout/) in a timely manner  yet, which is the data source where scraping happens.

Considering Apple's delay on updating it's own site, I now think it might be better to maintain this specs manually and

[2020-11-18 06:48] onderceylan commented on #434
Hi @Wasenshi123, thanks for opening the issue. This is known side effect of Cheerio, which the lib uses to update the html files. Did you see the FAQ section of docs for a workaround on it? -> https://github.com/onderceylan/pwa-asset-generator#my-indexhtml-files-format-has-been-changed-after-an-automated-update-is-there-any-way-to-re-format-it

[2020-11-18 06:50] onderceylan commented on #433
Hi @Wasenshi123, thanks for your feedback and opening this improvement item! Your proposition makes sense, I'm going to reduce it to only one version. Btw, feel free to open a PR about it and link it to this issue.

[2020-11-18 11:01] samselikoff commented on #454
Gotcha. In the meantime is there an escape hatch , a way to add individual devices?

[2020-11-30 21:37] #389 closed

[2020-11-30 21:37] #309 closed

[2020-11-30 21:37] #364 closed

[2020-11-30 21:37] #433 closed

[2020-11-30 21:37] #454 closed

[2020-11-30 21:41] onderceylan commented on #389
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator/v/4.0.0)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/v4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-11-30 21:41] onderceylan commented on #364
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator/v/4.0.0)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/v4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-11-30 21:41] onderceylan commented on #309
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator/v/4.0.0)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/v4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-11-30 21:42] onderceylan commented on #433
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator/v/4.0.0)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/v4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-11-30 21:42] onderceylan commented on #454
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator/v/4.0.0)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/v4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-12-01 18:11] samselikoff commented on #454
Awesome - nice work man!! Thank you!

[2020-12-01 21:43] onderceylan commented on #454
Thanks for contributing @samselikoff! 😊

[2020-12-04 19:49] onderceylan opened #469 "Fix misleading description of mstiles"

[2020-12-05 09:32] #469 closed

[2020-12-05 09:34] onderceylan commented on #469
:tada: This issue has been resolved in version 4.0.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator/v/4.0.1)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/v4.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-12-15 19:38] wojtekmaj commented on #325
I think I know where this issue could emerge from. Today I noticed that one of my splash screen renders in a slightly different color. After investigation it appears that one of the images (apple-splash-1125-2436) is being rendered with RGB as opposed to sRGB color profile.

[2020-12-15 21:03] onderceylan commented on #325
Hey @wojtekmaj, thanks so much for shedding a light on this issue! There's a chrome flag forcing Chromium to run with sRGB color profile. I'm going to ship a new version with this fix.

[2020-12-15 21:51] #325 closed

[2020-12-15 21:54] onderceylan commented on #325
:tada: This issue has been resolved in version 4.0.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator/v/4.0.2)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/v4.0.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-12-16 09:26] wojtekmaj commented on #325
Just tested it out and can confirm, it works like a charm!

[2020-12-16 12:46] onderceylan commented on #325
Thanks for clarifying the issue, moreover testing and confirmation the fix @wojtekmaj! Really helpful.

[2020-12-21 08:57] djhmateer commented on #318
File hashes would be a good feature.

In the meantime, I'm incrementing the directory eg ./assets23 every time I do a regenerate, to bust the cache.

[code]

[2020-12-29 23:00] onderceylan opened #489 "Add funding"

[2020-12-29 23:14] #489 closed

[2020-12-29 23:16] onderceylan commented on #489
:tada: This issue has been resolved in version 4.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator/v/4.1.0)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/v4.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-01-05 10:03] xstable opened #493 "Running as JSX implementation cause error: ` nod found: ./node_modules/chrome-launcher/dist/chrome-launcher.js`"
I've installed pwa-asset-generator globally (and for testing purposes at the project with `yarn add pwa-asset-generator --dev`.

Then I've generated an own Component `PwaMetaTags` with the example in the documentation:

[code]

In my nextJS BasicLayout.js-Component, I add this :
[code]

If I try to build the project, I got:

error - ./node_modules/chrome-launcher/dist/chrome-launcher.js:18:0
Modul

[2021-01-05 10:26] xstable opened #494 "Running with --xhtml - File stay's empty"
I have this command:
[code]

This generates an HTML-File with the tags.

If this File still exist (generated with above command) and I add --xhtml, it replace the Content with the XHTML-Variant (with / right before >).

BUT... if I empty the whole index.html and run with --xhtml, the index.html stay empty... even if there is no Error-Message in the CLI:
[code]
If I leave only `<html></html>` in th

[2021-01-05 10:53] xstable opened #495 "Wrong FileTypes"
If you generate a favicon with following command:
[code]

it generates a wrong link-tag:
[code]

As you se, type === image/png, but the filename is `favicon-196.jpg`
The file which is really generated was also an png. So the link-tag-generation has an issue because it set a non existing filetype.

[2021-01-10 17:28] Abe2021 opened #499 "npx failed with "22 verbose stack Error: command failed""
Just tried for the first time to use this library and ran the very first command:
    `npx pwa-asset-generator`

but got the following output:

[code]

The _logs file reads:

[code]

**System**
 - OS: Windows10 Pro, 64bit
 - node version: v15.4.0
 - npm version: 7.0.15
 - cli version: 4.1.0

[2021-01-12 23:39] onderceylan commented on #499
Hi @Abe2021, thank you for reporting this issue. I found the root cause and I will publish a fix soon.

[2021-01-13 00:28] #499 closed

[2021-01-13 00:30] onderceylan commented on #499
:tada: This issue has been resolved in version 4.1.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator/v/4.1.1)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/v4.1.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-01-19 18:46] nolimitdev commented on #93
Bug still not fixed on iOS 14.3. Shame on Apple! I have reported many things in the past via Feedback Assistant (usually Xcode related) but except of wanting more and more info from me, they never solved reported bug and they never replied. They totally ignore bugs reported by community.

[2021-01-19 19:31] nolimitdev commented on #93
+1 reported via Feedback Assistant. I have no hope. I have there open another feedbacks from 2019 and 2020 and Apple does not reply.

[2021-01-20 09:51] onderceylan commented on #493
Hi @xstable, thanks for opening this issue and providing your feedback.

I've checked your use case and it seems you might be using PAG on the runtime. As the library interacts with the filesystem, it must be used on the build time, and within the related lifecycle functions.

Here's two next.js functions that you can use PAG with:
* [getStaticProps](https://nextjs.org/docs/basic-features/data-fet

[2021-01-20 09:51] #493 closed

[2021-01-20 09:56] onderceylan commented on #494
Hi @xstable, thanks for providing your feedback.

I will look into how to improve the CLI feedback in case there's this error. It's not PAG's responsibility to scaffold the structure for the users, and there will be always an expectation for HTML files having some sort of content and structure.

I will close the ticket for now and wait for more responses about this use case before putting an effor

[2021-01-20 09:56] #494 closed

[2021-01-20 09:57] onderceylan commented on #495
Hey @xstable, thanks for reporting the issue. I will look into it asap.

[2021-02-07 23:42] MarkB700 commented on #93
Anyone tested 14.4?

[2021-02-08 07:58] nolimitdev commented on #93
I will test it today

[2021-02-08 11:00] nolimitdev commented on #93
Tested now, still not fixed in iOS 14.4. My report via feedback assistant (Jan 19, 2021 at 8:23 PM – FB8975579) is still in "OPEN" state without any Apple's answer.

[2021-02-09 14:52] CharlesGrimont opened #517 "Is it possible to pass args to puppeteer such as "--disable-dev-shm-usage" ?"
Hi !

Is it possible to pass args to puppeteer such as "--disable-dev-shm-usage" ?

Thanks

[2021-02-12 17:06] onderceylan commented on #517
Hi @CharlesGrimont, thanks for your feedback. I think this arg can be one of the default args in the library. Let me do some tests on it.

[2021-02-17 15:02] timolins opened #526 "Add support `safe-area-inset`"
**Is your feature request related to a problem? Please describe.**
I'm using `env(safe-area-inset-top)` to add a custom backdrop to the notch/titlebar, as well as padding to the main content. Currently, these are not available so I'm getting the wrong padding for each size.

**Describe the solution you'd like**
Maybe add all offset to the devices `apple-fallback-data.json` for landscape & portait.

[2021-02-21 21:34] onderceylan commented on #526
Hi @timolins, thanks for your feedback!

Just an idea, could it be solved by using a custom HTML input which you handle `env(safe-area-inset-top)` over there with your own CSS / media queries?

[2021-02-24 16:50] CharlesGrimont commented on #517
Hi !

Did you find any time to perform some tests ?

Would you like some help ?

Regards

[2021-03-04 12:14] atjn commented on #495
I'm having the same issue. All of my favicons and mstile icons are generated in `.png` but the html links are to a `.jpg` file. I solve this issue by specifying `type: png` when running the script. I will happily provide more info if needed, but I don't think it is hard to replicate.

[2021-03-04 13:45] atjn commented on #318
Chrome does actually check to see if the icon has changed. From: https://web.dev/manifest-updates/#cr-android-trigger

Which browsers are your apps installed through? If it's Chrome, I would encourage you to [file a bug](https://crbug.com/wizard) instead.
I'm not against adding this feature, but I think we should try to get it fixed in browsers before resorting to funky hacks ;)

[2021-03-18 07:04] fabyeah opened #557 "Logo size in landscape format is tiny compared to portrait"
It seems like whatever resizing is done in portrait mode, isn't (properly) applied in landscape mode? As the logo in the landscape assets is very small compared to portrait.

PS: This lib is awesome and saved me a ton of time! 👏💯

[2021-03-18 21:24] onderceylan commented on #557
Hi @fabyeah, thanks for your feedback ✌️

The example I added in the readme might be a solution to your issue. Could you please try the following?

[2021-03-19 06:23] fabyeah commented on #557
My source file actually had some padding already, so that's where part of the problem originated. But with the `--padding` parameter I was able to get the desired sizes for portrait and landscape. Thanks! 👍

[2021-03-19 06:23] #557 closed

[2021-04-19 04:12] MarkB700 commented on #93
14.4.2?

[2021-04-25 20:57] JB1905 opened #578 "Is it possible to set background image as background?"
Hi,

Is it possible to set background image as background value - pass url to image.

[2021-04-29 14:50] leandrolerena opened #581 "If destination folder does not exist, no images created, but return code 0"
Just a small thing, but a fix would be very useful in automated environments.

**Description and Reproduction**

pwa-asset-generator src/assets/icons/icon.svg src/assets/icons/gen --type png

**If src/assets/icons/gen exists:**

- Images are created
- Exit code 0 (no error)

**If src/assets/icons/gen does not exist:**

- Images are **not** created
- Exit code 0 (no error)

**Expected behavior**

R

[2021-04-29 14:57] leandrolerena commented on #581
Seems to be a weird issue on my side, couldn't reproduce after restart...

[2021-04-29 14:57] #581 closed

[2021-05-12 18:12] jaunt opened #596 "handling of vue cli index.html template logic"
**Describe the bug**
I use vue cli which uses webpack to create the final index.html from a tempate.  I have conditions set depending on dev, staging, production etc.  When pwa-asset-generator runs, it doesn't handle the conditions properly.

**To Reproduce**
Input (I've cut out all the actual stuff to just show the overall logic blocks)
[code]
Output: (You can see that the head has been closed to

[2021-05-17 00:18] dhofverberg opened #600 "Unexpected string in JSON at position 290"
**Describe the bug**
Gets the following output:
2:06:32 AM getSplashScreenMetaData Initialising puppeteer to load latest splash screen metadata 🤖
2:06:32 AM getAppleSplashScreenData Navigating to Apple Human Interface Guidelines website - https://developer.apple.com/design/human-interface-guidelines/ios/visual-design/adaptivity-and-layout/
2:06:37 AM getAppleSplashScreenData Waiting for the data t

[2021-05-17 00:23] #600 closed

[2021-05-17 00:24] dhofverberg commented on #600
Sorry, just noticed an error in the manifest file - my bad. :(

[2021-05-17 06:17] onderceylan commented on #600
No worries, thanks for your attention @dhofverberg!

[2021-05-17 06:17] onderceylan commented on #581
No worries, thanks for your attention @leandrolerena!

[2021-05-17 06:27] onderceylan commented on #596
Hi @jaunt, thanks for reporting this issue. PAG currently only supports raw HTML modification.

If you'd like to get the output only and paste it yourself, you can always remove the `-i` option and CLI will print the result to the console.

I will have a look for building a webpack plugin to integrate with PAG later on. Thanks!

[2021-05-17 06:27] #596 closed

[2021-05-19 11:36] damianfrizzi opened #603 "Run in serverless envrionement"
**Is your feature request related to a problem? Please describe.**
I would like to run pwa-asset-generator in a serverless environment. IIRC the current code does download the desired revision at run time. In order to work in a serverless environment the Chrome binary needs to be provided at build time.

Right now I get the following error message when trying to execute it on a AWS lambda (Vercel)

[2021-05-26 10:46] MarkB700 commented on #93
Still stretched. Tested 26-May-2021.

[2021-05-26 11:00] nolimitdev commented on #93
Apple ignores reports via feedbackassistant (still no reply at all to report from Jan 2021). Apple is not developer friendly. It is nightmare to force apple to solve bugs.
![01](https://user-images.githubusercontent.com/25459317/119648564-e4fe4780-be21-11eb-9554-0c595ef90225.png)

[2021-05-26 22:46] MarkB700 commented on #93
I've reached out to Maximiliano to see if he can assist:

![C2C183D9-BAA7-485E-8180-ACD5942A865B](https://user-images.githubusercontent.com/70351705/119740779-9c559580-bed8-11eb-95d2-51b4323f9f66.png)

[2021-05-26 22:53] MarkB700 commented on #93
If anyone has a LinkedIn account, they could search for "Apple Safari Team" and politely message the Apple engineering team lead(s) there, giving them a link to this page (https://github.com/onderceylan/pwa-asset-generator/issues/93) and asking if they could get it fixed.

[2021-05-31 06:06] MarkB700 commented on #93
BTW, has anyone tested on iPads apart from iPad Pro 11 inch landscape?

[2021-06-01 08:17] memeries opened #606 "Generate more favicon sizes"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I use this program to generate favicons, but I only find `favicon-196.png` in the output

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Generate smaller sizes like `favicon.ico`, 16x16, 3

[2021-06-12 11:45] rubenaguadoc commented on #93
Yesterday I almost lost my mind trying to solve this, before I found this thread.
I want to share what I found so at least I can feel it worth the time.
I know this doesn't solve anything, but at least we can have a better understanding of why this doesn't work.

Watching server logs, I realized that on the first PWA launch, it will request to the server both landscape and portratit startup images

[2021-06-14 07:43] MarkB700 commented on #93
Well done. I tested it out and found the behaviour to match yours too.

[2021-06-14 09:30] rubenaguadoc commented on #93
Can't tell. I only have the 11-inch version :(

[2021-06-27 08:18] justingolden21 opened #613 "HTML page has tags squished for no reason"
**Describe the bug**
When I run the command, my index.html file has the head and body tags squished into one line:

[code]

**To Reproduce**
npm script:
`  "generate-assets": "pwa-asset-generator src/img/icons/icon.svg src/img/icons/ -m src/manifest.webmanifest -i src/index.html"`

**Expected behavior**
I'm assuming there should be no change here and this is not intended behavior.

**System**
 - O

[2021-06-27 09:06] justingolden21 commented on #606
I was thinking this as well. What would be the use case for those icons though? Wouldn't 192 and 512 check all of the boxes according to the readme of this project?

[2021-06-27 09:14] justingolden21 opened #614 "Is there a way to generate only two (portrait and landscape) apple splash screen images?"
**Is your feature request related to a problem? Please describe.**
Too many files are generated. They are huge, clutter, and require more network requests for the user, more time to build, etc, and seem generally unnecessary when you could have one high res image per screen orientation.

**Describe the solution you'd like**
A CLI flag to only generate one specific portrait/landscape resolution for

[2021-06-27 09:15] justingolden21 commented on #614
Also, have you considered https://realfavicongenerator.net/ for favicon sizes and guidelines?

[2021-06-28 06:12] justingolden21 commented on #613
The indentation is also screwed up, and dozens of extra lines are added.

[code]

[2021-06-28 06:19] justingolden21 commented on #614
Can I link to multiple html files?

When running npx, will it remove chromium once it's done? If I'm only running it once, I wouldn't want all of chromium sitting on my hard drive for each project I run this on...

[2021-07-01 00:06] atjn commented on #614
You are absolutely correct when you say that Apples requirements are ridiculous, but I wouldn't recommend just delivering one startup image. Apple/Safari has a long history of botching webapps, especially the ones that don't conform to all of Apples demands. As an example, I believe there currently is an issue where Safari will simply stretch the startup image out of proportions if it doesn't perf

[2021-07-01 00:14] atjn commented on #606
As far as I know, browsers will at least download the 196x196 version of a favicon, just in case they need to display the icon in a larger box somewhere. Since they always do that, there is no reason to then also bloat the network connection with 64x64 and 32x32 versions of the image.

[2021-07-01 03:48] justingolden21 commented on #614
Also, is there a way to generate transparent icons but opaque splash screen images?

Thanks in advance for listening to my input : )

[2021-07-01 05:19] justingolden21 opened #619 "Security vulnerability due to dependency on `css-what`"
![image](https://user-images.githubusercontent.com/30274440/124069497-febe1c00-d9d7-11eb-84a1-f1d990106584.png)

[code]

[2021-07-04 21:16] justingolden21 commented on #614
One more thing (although I don't want to flood your repo with issues so I'll comment here for rn)

Is there a way to use *multiple* manfiests? I'm planning on localizing my app, which means a manifest for each supported language. As is right now, I'd have to copy and paste the same pwa asset generator line with links to different manifests each time, have a command to run all of those commands at

[2021-07-13 13:54] xstable opened #631 "cli Error: Failed to launch the browser process! (libxshmfence.so.1: cannot open shared object file: No such file or directory)"
**Describe the bug**
Since last update, I got the error described below.
As I got this error at a new Project, I also try to only re-run an deployment-script, which works perfectly fine 3 Day's ago.
So I'm sure the issue depends on something that was changed in the last release.

As there seems only this line to be changed: https://github.com/onderceylan/pwa-asset-generator/commit/bc655fdec9427fec

[2021-07-13 14:42] #631 closed

[2021-07-13 14:43] onderceylan commented on #631
:tada: This issue has been resolved in version 4.2.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator/v/4.2.1)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/v4.2.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-07-13 14:44] onderceylan commented on #631
Hi @xstable, thanks for your attention and swift feedback. I've just published a fix for this issue reverting the latest arg change. In addition, I covered the npx usage with a test on the CI - https://github.com/onderceylan/pwa-asset-generator/pull/632.

Hopefully, any regression related to npx usage of the library will be automatically detected next time.

[2021-07-13 14:46] onderceylan commented on #619
Thanks for your feedback @justingolden21. This issue is resolved with the latest version of the library.

[2021-07-13 14:46] #619 closed

[2021-07-13 14:58] onderceylan commented on #578
Hi @JB1905, pwa-asset-generator directly maps `background` value provided, to the css `background` property. This means, you can do what you want by passing `url()` arg like how you do it with css. Example;

`pwa-asset-generator -b "url('https://onderceylan.github.io/pwa-asset-generator/static/logo.png') repeat"`

Alternatively, you can provide your own HTML with your own style as an input. That w

[2021-07-13 14:58] #578 closed

[2021-07-13 14:59] onderceylan commented on #613
Thanks for your feedback @justingolden21. This is a duplicate of the issue: https://github.com/onderceylan/pwa-asset-generator/issues/434

[2021-07-13 14:59] #613 closed

[2021-07-13 15:02] onderceylan commented on #606
Thanks for the feedback folks. As @atjn mentioned, this is exactly the reason why we use a single size for favicons. Platforms already force us to bloat the apps we have with enough tags and images. So, unless it's absolutely necessary, I'm in favor of brevity in this area.

[2021-07-13 15:02] #606 closed

[2021-07-13 15:15] onderceylan commented on #614
Hi @justingolden21, thanks for your feedback. I will quote reply your questions, starting with this one.

pwa-asset-generator doesn't support changing multiple manifest files at once. You need to run your command multiple times. I'm curious about your use case as I haven't seen such a scenario where multiple manifest files are provided, per locale. Do you expect your users to add your app to their

[2021-07-13 15:17] onderceylan commented on #614
You need to execute two commands, one for splash images another for icons only. Please see the relevant section on FAQ in docs - https://github.com/onderceylan/pwa-asset-generator#how-can-i-generate-a-transparent-favicon-and-app-icons-with-opaque-background.

[2021-07-13 15:29] onderceylan commented on #614
No, you can't link to multiple HTML files. You need to run the command multiple times or manually duplicate.

npx commands cache the dependencies under your configured npm cache folder, see https://docs.npmjs.com/cli/v7/configuring-npm/folders#cache. npm clears the cache with it's internal logic.

If you worry about your disk storage, you can download pwa-asset-generator globally, with `npm i -g p

[2021-07-13 15:30] onderceylan commented on #614
Yes, we did. Please see the discussion here - https://github.com/onderceylan/pwa-asset-generator/issues/606

[2021-07-13 15:32] onderceylan commented on #614
This is a duplicate of https://github.com/onderceylan/pwa-asset-generator/issues/446.

[2021-07-13 15:32] #614 closed

[2021-07-13 15:34] onderceylan commented on #603
Thanks for your request @damianfrizzi. It would be nice to have this capability, I haven't tested it on serverless functions yet. Let me have a look at this.

[2021-07-13 15:36] onderceylan commented on #517
Hi @CharlesGrimont, this was added on version [4.2.0](https://github.com/onderceylan/pwa-asset-generator/releases/tag/v4.2.0) and reverted with version 4.2.1 because it created issues for users on linux.

Can you please test your use case with version 4.2.0 and share your findings here?

[2021-07-13 16:02] xstable commented on #631
Unfortunately it seems not to work.
Maybe there are also changed other things, you don't noticed in the changelog?!?

4.2.1 stuck with the same error-message. 4.1.1 still work like expected.

[2021-07-13 16:06] onderceylan commented on #631
This is strange. There was no other change in the code and no package change which might directly impact. Now I wonder if it was a real issue in the first place.

I added a new test to validate the npx usage with end to end usage of the library, and it seems to work just fine on ubuntu with the latest release, you can see it on https://github.com/onderceylan/pwa-asset-generator/pull/632/checks?che

[2021-07-13 16:16] xstable commented on #631
I even tried to pin it to 4.2.1, same result:
![image](https://user-images.githubusercontent.com/1778068/125487115-aaa0050d-dce7-4afc-af71-e3c8a9e02a6b.png)

and pinned to 4.1.1 it works again, like expected
![image](https://user-images.githubusercontent.com/1778068/125488231-7206db2f-77b3-43da-8d90-8362b9addc05.png)

[2021-07-13 16:56] xstable commented on #631
I do use a docker-image with debian 10 (Buster)

[2021-07-13 20:50] onderceylan commented on #631
Hi @xstable, thanks for helping diagnose the issue. I've tried to reproduce the issue you're facing, by overriding my action setup with debian:buster distribution - https://github.com/onderceylan/pwa-asset-generator/actions/runs/1027890795. During my tests, I've faced a failure due to another library being missing on debian.

After inspecting the logs you shared, I've found out the root cause of t

[2021-07-13 21:17] #517 closed

[2021-07-13 21:19] onderceylan commented on #517
:tada: This issue has been resolved in version 4.3.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator/v/4.3.0)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/v4.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-07-14 06:34] xstable commented on #631
I'll give it a try. But anyway, I think it's important for you to notice this somewhere in your documentations, so that other people know this "known Issues" and can handle them.
I'll come back to report, how I solved it, so you could add this to your docs if you want.

[2021-07-14 07:05] xstable commented on #631
Ok, with this apt-packages on Debian Buster it works again:

[code]
I've updated tho pagckages like described in the pupeteer-page, but also added libxshmfence-dev, which seems to be the important part to do the trick.

[2021-07-14 08:44] onderceylan commented on #631
Great, thanks for sharing your update. I will update the docs accordingly.

[2021-07-14 15:12] jp06 commented on #578
Oh, I never thought of using it like that. Thanks!

[2021-07-14 21:36] justingolden21 commented on #613
Got it, thanks. Also thanks for checking out all the stuff I mentioned, really appreciate it : )

Yeah I'm currently using Prettier, it just seemed like a very unintended side effect, and something that is annoying and can be fixed. Hopefully Cheerio fixes their stuff.

[2021-07-14 21:38] justingolden21 commented on #614
Yeah, I will be serving my app in different languages, so the manifest for the correct locale is dynamically linked and automatically used

[2021-07-15 06:40] onderceylan commented on #614
Have you had a chance to visit [this issue](https://github.com/w3c/manifest/issues/676) and read the discussion over suggestions and possible roadblocks?

[2021-07-16 01:45] justingolden21 commented on #614
Thank you so much : )

Checking that out rn

[2021-08-12 04:58] memeries opened #660 "Generate ONLY iOS or ONLY Android icons"
- My iOS icons should have a white background
- My Android icon should have a transparent background

[2021-08-14 01:10] JonathanILevi opened #662 "prefers-color-scheme: dark not set for svg icon"
**Describe the bug**
SVG supports <style> tags with `@media (prefers-color-scheme: dark)`.  This tool does not set that for svgs, like it does for html, when in dark-mode.

**To Reproduce**
Generate using an icon like this one with `-d`:
<svg xmlns="http://www.w3.org/2000/svg" width="300" height="400" viewBox="0 0 30 40">
	<style>@media (prefers-color-scheme: dark) {.fg {fill: #fff;}}</style>
	<pa

[2021-08-14 02:51] max-programming opened #663 "Add Support for custom browser path"
**Is your feature request related to a problem? Please describe.**
Just discovered it's an amazing package that lets us generate assets for a PWA. But as it uses `puppeteer-core`, it's better if we don't find Chrome on a user's system, they can enter the path of the Chromium-based browser they might be using.

For eg. [Microsoft Edge](https://www.microsoft.com/en-us/edge), [Brave](https://brave.co

[2021-08-21 14:43] nghiepit opened #667 "Support round of the corners"
When generating the icons, we need support to make rounds of the corners.

**Example**
[code]

[2021-08-30 19:28] uahnbu commented on #660
I'm currently using this script.
`pwa.js`
[code]
`package.json`
[code]

[2021-09-08 23:57] aeharding opened #675 "Support wide gamut colorspace (display-p3)"
**Is your feature request related to a problem? Please describe.**

Hello! All modern iPhones support the `display-p3` wide gamut colorspace - a superset of sRGB. It would be really cool to have this support for `.png` exports - it'd really make better gradients and more eye-popping colors (like reds and greens).

**Describe the solution you'd like**

Support for a wide gamut colorspace (`display-

[2021-09-09 00:00] aeharding commented on #675
This may be blocked by https://bugs.chromium.org/p/chromium/issues/detail?id=1026287 - I'm not quite sure

[2021-09-12 18:36] onderceylan commented on #675
Hi @aeharding, thanks for your feedback and for creating this feature request!

We currently use a forced color profile (sRGB) over using Chrome's launch arguments: https://github.com/onderceylan/pwa-asset-generator/blob/master/src/config/constants.ts#L169

I'm not entirely sure about the value we need to provide for the launch arg `--force-color-profile` of Chrome to enable this feature yet. It's

[2021-09-18 20:45] frederikhors opened #679 "Warning in Chrome: Declaring an icon with purpose: "any maskable" is discouraged. It is likely to look incorrect on some platforms due to too much or too little padding."
**Describe the bug**
I'm having this warning in Chrome 93 (Win 10).

**Screenshots**
![image](https://user-images.githubusercontent.com/41120635/133908058-9f1a1037-2ea4-47e4-8ddb-44323b7fe98a.png)

[2021-09-26 21:37] atjn commented on #679
I just looked into this, and the conclusion is pretty much what the warning says:

- `maskable` icons are supposed to have a certain amount of padding around the central icon, allowing the OS to cut the image to a custom shape without cutting away anything important.
- `any` icons on the other hand, are designed to be shown as-is, so they should have as little padding as possible.

pwa-asset-gener

[2021-09-29 18:54] onderceylan commented on #679
Hi @frederikhors, thanks for reporting this issue. It's not recommended to use both maskable and any purposes together anymore. With the upcoming fix, when `maskable` option is provided, PAG will only be adding maskable as a purpose.

[2021-09-29 19:01] frederikhors commented on #679
I'm using PAG with the default options (I love convention over configuration).

Will it still be like this?

[2021-09-29 19:59] onderceylan commented on #679
Maskable will stay as the default option, but the purpose output will be 'maskable' instead of 'maskable any'.

[2021-10-03 17:06] SunBK201 commented on #93
still issue on iPadOS 15.0.1

[2021-10-03 19:13] MarkB700 commented on #93
Perhaps if a lot of people resubmit to https://feedbackassistant.apple.com/ it could make it to the top of the list on the 15.0 issues since the list may be relatively small now?

[2021-10-07 09:07] #495 closed

[2021-10-15 07:52] RabellinoNico opened #714 "Iphone Plus wrong dimensions"
In the `config` directory the `apple-fallback-data.json` have some wrong dimensions.

Models with wrong dimensions:
- iPhone 8 Plus
- iPhone 7 Plus
- iPhone 6s Plus
- iPhone 6 Plus

The [human interface guidelines](https://developer.apple.com/design/human-interface-guidelines/ios/visual-design/adaptivity-and-layout/#device-screen-sizes-and-orientations) of apple says:
![image](https://user-images.

[2021-10-25 10:41] almeric opened #723 "Wrong filenames for manifest.json"
**Describe the bug**
The filenames for the icons in the generated manifest file are not generated & will result in a 404 not found.

**To Reproduce**
When running as a module with the following config:

[code]

The following icons/splash images are generated:

[code]

...but the following manifest data is generated:

[code]

As you can see above, `manifest-icon-192.png` & `manifest-icon-512.png` d

[2021-10-28 15:15] frederikhors opened #725 "5.0.0: Issues on Chrome 95"
**Describe the bug**
Updating today from 4 to 5 and using the below simple command gives a manifest that Chrome 95 doesn't like:

![image](https://user-images.githubusercontent.com/41120635/139284783-4ccfcda7-b1df-48fd-9980-89b9b01a2b83.png)

**To Reproduce**
Steps to reproduce the behavior:
1. `npx pwa-asset-generator ./src/icons/icon.svg ./static/icons/ --index ./src/index.html --manifest ./stat

[2021-11-03 15:10] gartenkralle commented on #446
Also want this feature. :)

[2021-11-04 09:21] gartenkralle commented on #93
Still an issue on iOS 15.1

This bug exists for 2 year. Apple is so lost.

[2021-11-04 09:53] MarkB700 commented on #93
What hardware version of iPad did you test? 2021 version?

[2021-11-04 10:08] gartenkralle commented on #93
Yes 9th generation

[2021-11-04 10:31] MarkB700 commented on #93
You might want to submit to https://feedbackassistant.apple.com/ since it's on the latest product (iPad).

[2021-11-04 10:49] nolimitdev commented on #93
Filling in item at https://feedbackassistant.apple.com/ is useless and waste of time. I have several bugs reported there several years in "open status" old but absolutely no answer from Apple.

[2021-11-07 13:23] xavax31 commented on #679
Same problem for me in chrome 95.0.4638.69

[2021-11-07 21:40] onderceylan commented on #725
Thanks for reporting this issue. As of latest changes on Chrome and Lighthouse audits,

* `maskable any` value is not recommended anymore.
* There should be at least one icon with the `any` purpose, or without the purpose altogether
* There should be at least oen icon with the `maskable` purpose

I'm working on a change to reflect this requirements update.

[2021-11-07 21:41] onderceylan commented on #679
Thanks for reporting the warnings. You can track the updates on this issue: https://github.com/onderceylan/pwa-asset-generator/issues/725

[2021-11-07 22:13] onderceylan commented on #723
Hey @almeric, thanks for reporting the issue. I've reproduced the same. The issue seems to be related to the `pathOverride` option conflict. I'm working on a fix.

[2021-11-07 23:04] #723 closed

[2021-11-07 23:04] #725 closed

[2021-11-07 23:06] onderceylan commented on #723
:tada: This issue has been resolved in version 6.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator/v/6.0.0)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/v6.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-07 23:06] onderceylan commented on #725
:tada: This issue has been resolved in version 6.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator/v/6.0.0)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/v6.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-10 02:59] caseywebdev opened #737 "--single-quotes doesn't work as expected"
I tried to use `--single-quotes` and noticed it made no difference in the output. Dug through the code and it looks like this line doesn't actually do anything because `.replace` doesn't mutate the original string.

https://github.com/onderceylan/pwa-asset-generator/blob/a444f76b937d17e621bb5bb22b6352ea3d4fa9f2/src/helpers/meta.ts#L180

The line would need to be more like

[code]

[2021-11-11 14:47] component6 opened #742 "how to get the file manifest.json"
_package.json_
[code]
_index.js_
const pwa = require('pwa-asset-generator');

const img = 'abcd.jpg';
[code]

I run the file in the console
`node index.js`

I want the file to be generated along with the images:
- images are generated
- **the file is not generated**

[2021-11-24 17:40] cviebrock opened #757 "Create icons/splash screens for native applications"
I've used `pwa-asset-generator` to create icons for PWAs, but I'm now using [Ionic](https://ionicframework.com/) and [Capacitor](https://capacitorjs.com/) to create "native" apps.  There are a few packages out there to help create the icons and splash screens for iOS and Android, but they all use a JPG/PNG image and just scale it appropriately.  I really like the way pwa-asset-generator lets me us

[2021-11-29 11:32] frederikhors opened #764 "URGENT! Puppeteer (12) error from 6.0.3 after update from 11"
**Describe the bug**
Issue running generation from 6.0.3.

I saw you updated `puppeteer-core` from 11.0.0 to 12.0.0. This is the problem.

[2021-11-29 12:03] onderceylan commented on #764
Thanks for reporting this @frederikhors, the fix is on the way.

[2021-11-29 12:06] #764 closed

[2021-11-29 12:06] frederikhors commented on #764
I think dependabot is not useful.

[2021-11-29 12:08] onderceylan commented on #764
:tada: This issue has been resolved in version 6.0.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pwa-asset-generator/v/6.0.4)
- [GitHub release](https://github.com/onderceylan/pwa-asset-generator/releases/tag/v6.0.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-02 00:24] atjn opened #778 "Manifest icons with purpose `any` and `maskable` do not adhere to the spec"
When generating images for the web app manifest, PAG currently generates two copies of each size; one with purpose `maskable` and one with purpose `any`. PAG generates these two copies as identical, but if you look at [the documentation for these purposes](https://w3c.github.io/manifest/#purpose-member), you will find that they should not be identical:

- `any` should have almost no padding, as is

[2022-01-19 01:33] dantman opened #782 "%PUBLIC_URL% example does not actually work in CRA"
**Describe the bug**

The README example includes `--path "%PUBLIC_URL%"` which I expect is for CRA support. However when using this option manifest.json paths include `%PUBLIC_URL%`. However CRA does not replace `%PUBLIC_URL%` in manifest.json.

**Expected behavior**

manifest.json should not receive the `%PUBLIC_URL%` prefix from `--path`.

[2022-01-19 01:45] dantman commented on #778
Wouldn't this be solved if there were different padding options for favicons, splash screens, and maskable icons? It doesn't really make sense to use the same for all of them.

[2022-01-19 06:57] dantman opened #784 "pwa-asset-generator only generates one favicon size, breaking logos with variants for smaller sizes"
**Is your feature request related to a problem? Please describe.**
pwa-asset-generator only generates one large favicon. This is despite the fact that you can specify a html icon that adapts to other sizes.

Not all sizes of icon can work simply by having the browser take the largest raster image and scale it.
- If you have a vector source then going from vector -> 196x196 raster -> scaling to 16x

[2022-01-19 10:46] BramVanBerkel opened #785 "Add og image option"
Hi! Thank you for your great work on this package.
Would it be an option to add the generating of an og image with the dimensions of 1200*630 pixels (the recommended size of an og image)?

More info: https://ogp.me/

Thanks in advance!

[2022-01-20 04:46] dantman commented on #785
Other sites like Reddit use square og:images.

https://www.h3xed.com/web-and-internet/how-to-use-og-image-meta-tag-facebook-reddit

It may be worth investigating how Facebook, Reddit, and Twitter treat multiple og:image tags with different aspect ratios to see what the best to generate are.

[2022-01-20 04:58] dantman commented on #778
Actually I think instead of a --masked-padding option I'd prefer being able to use an alternate maskable source. Perhaps we need a --maskable-only/--no-maskable pair of options that would only generate maskable icons or generate non-maskable icons without altering the definitions for maskable icons.

Then we can generate maskable and non-maskable icons with any options we want, just like with favi

[2022-01-20 14:51] #714 closed

[2022-01-20 14:55] onderceylan commented on #742
Hi @component6, thanks for your feedback. pwa-asset-generator is an image generation tool for pwa development and it expect there being a manifest.json file in your project already. It's not the library's purpose to transform a web app to a pwa, create a manifest file or create a package for the app. If you're looking for a solution related to that, I recommend checking out pwa-builder.

[2022-01-20 14:55] #742 closed

[2022-01-26 13:13] muellerdberlin commented on #603
same problem for me in a serverless cloud function on Google Cloud:
![image](https://user-images.githubusercontent.com/34556236/151169101-d1cf9baf-1e62-4054-9db9-660b50f8b5ad.png)

[2022-01-29 11:41] atjn commented on #778
Sure, it would also be great to have extra options that allows for customizing what PAG outputs. But we also need the default settings to work properly.

[2022-01-29 12:19] dantman commented on #778
Assuming we can't make `--maskable` behave like the `--maskable-only` and pair it with a `--no-maskable`. `--maskable` should probably be deprecated. So the default setting is to only output non-maskable icons, but not delete maskable icons from the manifest. So you can then separately add a run to generate maskable icons with different parameters. I guess it would make sense for this to also chan

[2022-02-11 23:42] Adnan-Bacic opened #797 "update documentation since splash screen for ios needs <meta name="apple-mobile-web-app-capable" content="yes">"
**Is your feature request related to a problem? Please describe.**
the documentation mentions that ios doesnt support the manifest file for splash screen. but it doesnt mention you also need another html tag.
you need to also set:
`<meta name="apple-mobile-web-app-capable" content="yes">`

as described here for example:
https://appsco.pe/developer/splash-screens

**Describe the solution you'd like

[2022-02-17 21:36] michaeltintiuc commented on #603
Have you found a solution to this? I'm facing a similar issue running on Alpine and the revisions from puppeteer aren't compatible, the `executablePath` is hard-coded to point to one in node_modules/puppeteer I'm wondering if it would make sense to have an option for this

[2022-03-29 13:02] muellerdberlin commented on #603
No, didnt find a solution so far. @michaeltintiuc

[2022-03-31 09:44] frederikhors opened #810 "npm audit found an high problem with this package"
**Describe the bug**
npm audit found an high problem with this package

**To Reproduce**
Steps to reproduce the behavior:
1. `npm i`
2. read the message in console:

[code]

**Expected behavior**
To fix this.

**System (please complete the following information):**
 - OS: win 10
 - node version: 16
 - npm version: 8
 - cli version: 6.0.6

[2022-03-31 10:07] onderceylan commented on #810
Hi @frederikhors, thanks for reporting! I'm looking into it.

[2022-04-03 14:35] onderceylan commented on #810
Fixed with version 6.0.7!
https://github.com/onderceylan/pwa-asset-generator/releases/tag/v6.0.7

[2022-04-03 14:35] #810 closed

[2022-04-16 08:04] jarmo opened #822 "html/head/body tags should not be added automatically to an existing file/partial"
**Describe the bug**
I used pwa-asset-generator with `--index` flag to automatically add all splash image html tags for iOS. It added these tags as expected. However, it also added `html`, `head` and `body` tags which was unexpected:

[code]

Since my "index" file is not an actual index, but is a separate partial html file, which is included by the html templating language I'm using into an actual

[2022-04-18 19:03] onderceylan commented on #822
Hi @jarmo, thanks for reporting this use case and sharing your feedback.

pwa-asset-generator was not designed to make edits to partial html files. I will mark it as a feature request and consider this improvement as part of the roadmap.

[2022-04-18 19:05] onderceylan commented on #782
Hi @dantman, thanks for sharing your feedback and reporting the issue. I will look into it asap.

[2022-04-21 18:38] pavlexander opened #825 "Add more sizes for apple-touch-icon"
**Describe the bug**
Currently CLI only generates a single "apple-touch-icon".

**To Reproduce**
`pwa-asset-generator icon-512x512.png ./img/icons2 -i ./index.html -m ./manifest.json --background "rgba(255, 255, 255, 0)" --opaque false --type png --padding "0px" --icon-only `

result:

[code]

**Expected behavior**
Following images in header (at least)
[code]

According to this doco: https://devel

[2022-04-24 17:29] atjn commented on #825
Hello and thanks for the suggestion :)

According to [Apple's developer documentation](https://developer.apple.com/library/archive/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html):

In other words, if you provide a very large icon, then Safari will automatically scale it down to fit the required size. Since pwa-asset-generator w

[2022-04-24 17:41] atjn commented on #825
This feature is definitely being considered, although I am unsure whether it is actually necessary now that all browsers support the web app manifest, which allows you to serve a few standard sizes, and then let the device resize them as needed. This specific request is a duplicate of #446

[2022-05-14 20:27] #825 closed

[2022-06-01 06:23] justingolden21 opened #847 "Is there a way to only output one icon? Also, is there a way to take multiple inputs?"
**Is your feature request related to a problem? Please describe.**
I have multiple icons for pages in my PWA and want to generate one icon each.

**Describe the solution you'd like**
A CLI flag for one single icon. Currently `--icon-only` generates 3 icons. I have to delete each icon that I don't need before pushing.

**Describe alternatives you've considered**
Deleting the icons and making a very

[2022-06-17 13:17] az0uz commented on #782
As a temporary workaround, I use this in my `package.json`:

[code]

[2022-06-21 09:15] dartess opened #864 "Splash screen not generated for 6th gen iPad mini"
**Describe the bug**

Splash screen not generated for 6th gen iPad mini

**Screenshots**

<img width="724" alt="image" src="https://user-images.githubusercontent.com/15047511/174763058-779eb672-e73c-4135-8385-c1ed11d18386.png">

**Additional context**

https://en.wikipedia.org/wiki/Comparison_of_iPad_models#iPad_Mini_series

In the sixth generation, the screen size was increased. Apple does not re

[2022-07-28 10:47] thisispiers commented on #93
Issue still exists on iPadOS 15.6 iPad Pro 11" 2nd Gen

[2022-08-09 08:43] atjn opened #892 "Put custom iOS support behind a flag"
Safari on iOS is slowly catching up with the web manifest spec. [iOS 15.4 can now grab an icon form the manifest](https://webkit.org/blog/12445/new-webkit-features-in-safari-15-4/#web-apps), instead of requiring the `apple-touch-icon`, and it will happily install the app even though `apple-mobile-web-app-capable` isn't defined.

<details>
<summary>Rant</summary>

Safari uses icons with `purpose: a

[2022-08-09 11:48] onderceylan commented on #892
Hey @atjn, thanks for creating this issue. iOS specific tags and images should be configurable indeed.

In fact, I'm busy with designing the next major version of the library, which will allow custom profiles where users will have full control on image and tag generation, and choosing target platforms.

[2022-08-09 11:51] atjn commented on #892
Very cool to hear! Let me know if you want help with it, I've got a lot of time the next few weeks.

[2022-08-10 14:19] onderceylan commented on #892
Thanks Anton, I will definitely reach out to get your feedback.

[2022-08-23 20:51] onderceylan opened #902 "Next major versions of PWA Asset Generator"
### Discussed in https://github.com/onderceylan/pwa-asset-generator/discussions/901 - [Next major versions of PWA Asset Generator](https://github.com/onderceylan/pwa-asset-generator/discussions/901)

[2022-11-21 10:49] T2L commented on #822
This feature would simplify everyone's life _a lot_. Thanks!